openapi: 3.0.3
info:
  title: PandaDoc Public API
  description: |
    PandaDoc API spans a broad range of functionality to help you build incredible documents automation experiences inside your product.

    PandaDoc API is organized around REST. Our API has predictable resource-oriented URLs and uses standard HTTP response codes, authentication, and verbs.

    ## Getting started

    You can start testing PandaDoc API with a sandbox key on our [Enterprise](https://www.pandadoc.com/pricing/) plan, either active or in trial.

    Generate your [sandbox key](https://developers.pandadoc.com/reference/sandbox-key) on the Developer Dashboard with predefined [rate limits](https://developers.pandadoc.com/reference/limits). Or contact our solutions expert if you work with high-transaction volumes.

    ## Guides

    If you’re just getting started with PandaDoc, you may want to jump straight into one of our [getting started guides](https://developers.pandadoc.com/docs/getting-started) for the feature you’re most interested in, whether that’s:

    - [Create from template](https://developers.pandadoc.com/docs/create-send-document),
    - [Upload and send a local PDF](https://developers.pandadoc.com/docs/upload-and-send-a-local-pdf),
    - or [Listening for changes in document status](https://developers.pandadoc.com/docs/listen-document-status-changes).

    We also recommend you to discover our dynamic content generation on a fly: [Create from a template with content placeholder](https://developers.pandadoc.com/docs/create-with-content-placeholders-from-template).
  termsOfService: https://www.pandadoc.com/master-services-agreement/
  contact:
    name: PandaDoc API Support
    url: https://developers.pandadoc.com/
    email: api-track@pandadoc.com
  license:
    name: MIT
    url: https://github.com/PandaDoc/pandadoc-openapi-specification/blob/main/LICENSE
  version: 7.11.0
servers:
  - url: https://api.pandadoc.com
    description: Public API
security:
  - apiKey: []
  - oauth2: []
tags:
  - name: OAuth 2.0 Authentication
    description: Operations for creating and refreshing access tokens for user authentication.
  - name: Documents
    description: Operations for managing documents, including appending content library items and creating document sessions for embedded signing.
  - name: Document Reminders
    description: Operations for configuring document reminders.
  - name: Document Link to CRM
    description: Operations for managing links between documents and CRM entities.
  - name: Document Attachments
    description: Operations for managing document attachments, such as downloading them.
  - name: Document Fields
    description: Operations for retrieving and managing fields within a document.
  - name: Document Audit Trail
    description: Operations for retrieving the full audit trail of a document, including user actions and metadata.
  - name: Document Settings
    description: Operations for retrieving and managing document settings, such as language.
  - name: Document Recipients
    description: Operations for managing recipients in documents, including adding, editing, reassigning, and deleting recipients.
  - name: Document Sections (Bundles)
    description: Operations for managing document sections, including retrieving details and upload statuses.
  - name: Document Structure View
    description: Operations related to managing the structure and hierarchy of documents within the Document Structure View (DSV).
  - name: Content Library Items
    description: Operations for managing content library items, including retrieving details, checking status, and creating items via file upload.
  - name: Templates
    description: Operations for managing templates, including listing, creating, and deleting templates.
  - name: Template Settings
    description: Operations for managing template settings, such as retrieving and updating settings.
  - name: Forms
    description: Operations for managing and retrieving forms, including filtering and sorting options.
  - name: Folders
    description: Operations for managing and organizing document folders.
  - name: API Logs
    description: Operations related to API logs.
  - name: Contacts
    description: Operations related to managing and retrieving contact details.
  - name: Members
    description: Operations for managing and retrieving details about workspace members.
  - name: Webhook subscriptions
    description: Operations for managing webhook subscriptions, including listing, retrieving details, and updating shared keys.
  - name: Webhook events
    description: Operations related to webhook events.
  - name: Notary
    description: Operations for creating and managing notarization requests.
  - name: Product catalog
    description: Operations for managing product catalog items, including creation and retrieval.
  - name: Quotes
    description: Operations for updating and managing quotes within documents.
  - name: User and Workspace management
    description: Operations for managing users and workspaces.
  - name: Communication Preferences
    description: Operations for managing communication preferences, including SMS opt-out settings.
paths:
  /oauth2/access_token:
    post:
      summary: Create/Refresh Access Token
      operationId: accessToken
      security: []
      description: |
        Create or refresh an access token to make requests on behalf of a user. This endpoint is used to obtain an `access_token` and `refresh_token` for the first time, and to refresh the `access_token` when it expires.
        This endpoint is part of OAuth 2.0 implementation. You need to configure OAuth App to obtain `client_id` and `client_secret`. Read more about [OAuth 2.0 implementation](https://developers.pandadoc.com/reference/authentication-process).
        Make sure you're sending the header `Content-Type: application/x-www-form-urlencoded`. 

        ## Create Access Token
        As a result of the OAuth 2.0 user authentication process, you should get a `code` that can be exchanged for an `access_token`. Use this endpoint to do this exchange, and to refresh the token later.

        > 🚧 Invalid Grant?
        > 
        > If you receive an `invalid grant` response it is likely because you used the same `code` more than once from the [Authorize a PandaDoc User](ref:authorize-a-user) step above. The `code` parameter is generated for one-time use. A new `code` value must be generated if you wish to change API users, permissions, or simply generate a new `code` value for the same PandaDoc user.

        > 📘 expires_in
        > 
        > `expires_in` is based in seconds. Currently, a token expires in 31535999 seconds = 1 year.

        ## Refresh Access Token
        Eventually, `access_token` expires and accessing an API method returns **401 unauthorized**. Your application needs to refresh the OAuth2 token with the stored `refresh_token` returned when initially creating an access token.

        Once refreshed, calls on behalf of the originally authorized user can resume immediately. Use the newly returned `access_token` for all future API requests.

        > 🚧 Invalid Grant?
        > 
        > If you receive an `invalid grant` response, it is likely because your `refresh_token` is invalid.
      tags:
        - OAuth 2.0 Authentication
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              oneOf:
                - $ref: '#/components/schemas/OAuth2CreateAccessTokenRequest'
                - $ref: '#/components/schemas/OAuth2RefreshAccessTokenRequest'
            examples:
              Create Access Token:
                value:
                  grant_type: authorization_code
                  client_id: 8f0a1b2c3d4e5f6g7h8i9j
                  client_secret: k1l2m3n4o5p6q7r8s9t0u
                  code: v9w8x7y6z5a4b3c2d1e0f
                  scope: read+write
              Refresh Access Token:
                value:
                  grant_type: refresh_token
                  client_id: 89b2d1ea5f7c3b0a19456
                  client_secret: e7c390f1ba8d2a6b57910c4d3b2a1e0f9d8c7b6a
                  refresh_token: 9a4b5c6d7e8f0g1h2i3j4k5l6m7n8o9p0q1r2s3t
                  scope: read+write
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuth2AccessTokenResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: string
                    example: unsupported_grant_type
  /public/v1/documents:
    get:
      tags:
        - Documents
      summary: List Documents
      description: |
        This endpoint will let you list and search for the documents.
        ### [Here](https://developers.pandadoc.com/docs/list-search-documents-api) you can find how to filter, search and order documents.
      operationId: listDocuments
      parameters:
        - name: template_id
          in: query
          schema:
            type: string
          description: Filters by parent template. This Parameter can't be used with form_id.
          example: BhVzRcxH9Z2LgfPPGXFUBa
        - name: form_id
          in: query
          schema:
            type: string
          description: Filters by parent form. This parameter can't be used with template_id.
          example: BhVzRcxH9Z2LgfPPGXFUBa
        - name: folder_uuid
          in: query
          schema:
            type: string
          description: Filters by the folder where the documents are stored.
          x-ignore-no-type: true
          example: BhVzRcxH9Z2LgfPPGXFUBa
        - name: contact_id
          in: query
          schema:
            type: string
          description: Filters by recipient or approver with this 'contact_id'.
          example: 9FeAY2NB3C9qDdtQRb4tTL
        - name: count
          in: query
          schema:
            type: integer
          description: Limits the size of the response. Default is 50 documents, maximum is 100 documents.
          example: 50
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
          description: Paginates the search result. Increase value to get the next page of results.
          example: 1
        - name: order_by
          in: query
          schema:
            $ref: '#/components/schemas/DocumentOrderingFieldsEnum'
          description: Defines the sorting of the result. Use `date_created` for ASC and `-date_created` for DESC sorting.
          examples:
            Default order by date_status_changed:
              value: date_status_changed
        - name: created_from
          in: query
          schema:
            type: string
            format: datetime
          description: Limits results to the documents with the `date_created` greater than or equal to this value.
          example: '2024-10-27T15:22:23.132757Z'
        - name: created_to
          in: query
          schema:
            type: string
            format: datetime
          description: Limits results to the documents with the `date_created` less than this value.
          example: '2024-10-27T15:22:23.132757Z'
        - name: deleted
          in: query
          schema:
            type: boolean
          description: Returns only the deleted documents.
          example: false
        - name: id
          in: query
          schema:
            type: string
            description: Searches for document by it's id.
          example: BhVzRcxH9Z2LgfPPGXFUBa
        - name: completed_from
          in: query
          schema:
            type: string
            format: datetime
          example: '2024-10-27T15:22:23.132757Z'
          description: Limits results to the documents with the `date_completed` greater than or equal to this value.
        - name: completed_to
          in: query
          schema:
            type: string
            format: datetime
          description: Limits results to the documents with the `date_completed` less than this value.
          example: '2024-10-27T15:22:23.132757Z'
        - name: membership_id
          in: query
          schema:
            type: string
          description: Filter documents by the owner's 'membership_id'.
          example: BhVzRcxH9Z2LgfPPGXFUBa
        - name: metadata
          in: query
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
          description: Filters documents by metadata. Pass metadata in the format of `metadata_{metadata-key}={metadata-value}` such as `metadata_opportunity_id=2181432`. The `metadata_` prefix is always required.
          example:
            - metadata_opportunity_id=2181432
            - metadata_custom_key=custom_value
        - name: modified_from
          in: query
          schema:
            type: string
            format: datetime
          description: Limits results to the documents with the `date_modified` greater than or equal to this value.
          example: '2024-10-27T15:22:23.132757Z'
        - name: modified_to
          in: query
          schema:
            type: string
            format: datetime
          description: Limits results to the documents with the `date_modified` less than this value.
          example: '2024-10-27T15:22:23.132757Z'
        - name: q
          in: query
          schema:
            type: string
          description: Filters documents by name or reference number (stored on the template level).
          example: Sample Document
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/DocumentStatusRequestEnum'
          description: |
            Filters documents by the status.
              * 0: document.draft
              * 1: document.sent
              * 2: document.completed
              * 3: document.uploaded
              * 4: document.error
              * 5: document.viewed
              * 6: document.waiting_approval
              * 7: document.approved
              * 8: document.rejected
              * 9: document.waiting_pay
              * 10: document.paid
              * 11: document.voided
              * 12: document.declined
              * 13: document.external_review
          example: 5
        - name: status__ne
          x-ignore-snake-case: true
          in: query
          schema:
            $ref: '#/components/schemas/DocumentStatusRequestEnum'
          description: |
            Exludes documents with this status.
              * 0: document.draft
              * 1: document.sent
              * 2: document.completed
              * 3: document.uploaded
              * 4: document.error
              * 5: document.viewed
              * 6: document.waiting_approval
              * 7: document.approved
              * 8: document.rejected
              * 9: document.waiting_pay
              * 10: document.paid
              * 11: document.voided
              * 12: document.declined
              * 13: document.external_review
          example: 5
        - name: tag
          in: query
          schema:
            type: string
          description: Filters documents by tag.
          example: tag_1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentListResponse'
              examples:
                Default order by date_status_changed:
                  value:
                    results:
                      - id: XjV64iXRJMerjSpk428QSF
                        name: Sample Document
                        status: document.draft
                        date_created: '2024-07-02T16:21:35.770196Z'
                        date_modified: '2024-07-02T16:21:37.696724Z'
                        expiration_date: null
                        version: '2'
                      - id: 6NbHUUu6uuYN2tqJvgtf9h
                        name: Services Invoice
                        status: document.completed
                        date_created: '2024-01-25T15:35:27.186107Z'
                        date_modified: '2024-06-21T15:07:34.192101Z'
                        expiration_date: '2024-08-20T15:07:32.869161Z'
                        version: '2'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  type:
                    type: string
                  detail:
                    type: object
              examples:
                Non field error:
                  value:
                    type: request_error
                    detail:
                      non_field_errors:
                        - Either template_id or form_id should be added to query.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
    post:
      tags:
        - Documents
      summary: Create Document
      description: |
        ## Create from a template
        > See the [Create document from template](https://developers.pandadoc.com/docs/create-document-from-template) tutorial for details on how to use this endpoint, as well as a sample template.

        ## Create from a URL
        > See the [Create from public PDF](https://developers.pandadoc.com/docs/create-and-send-a-document-from-a-publicly-available-pdf) guide for info about roles and fields, as well as PDF examples.
      operationId: createDocument
      parameters:
        - name: editor_ver
          in: query
          deprecated: true
          schema:
            type: string
          example: ev2
          description: Set this parameter as `ev1` if you want to create a document from PDF with Classic Editor when both editors are enabled for the workspace.
        - name: use_form_field_properties
          in: query
          schema:
            type: string
          example: 'true'
          description: Set this parameter as `yes` or `1` or `true` (only when upload pdf with form fields) if you want to  respect form fields properties, like `required`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentCreateRequest'
            examples:
              Simple API Sample:
                summary: Simple API Sample Document from PandaDoc Template
                value:
                  name: Simple API Sample Document from PandaDoc Template
                  template_uuid: onoznwTq4Y3EELMPyvucnc
                  recipients:
                    - email: josh@example.com
                      first_name: Josh
                      last_name: Ron
                      role: user
                      phone: 555-5555-5555
                      signing_order: 1
                      company: PandaDoc
                      default: false
                      delivery_methods:
                        sms: true
                        email: false
                      redirect:
                        is_enabled: true
                        url: https://super.redirect.url/1
                      verification_settings:
                        verification_place: before_open
                        passcode_verification: null
                        phone_verification: null
                        kba_verification: null
                        id_verification:
                          enabled: true
                  tokens:
                    - name: Favorite.Pet
                      value: Panda
                  fields:
                    Favorite.Color:
                      value: PandaDoc green
                    Delivery:
                      value: Same Day Delivery
                    Like:
                      value: true
                    Date:
                      value: '2019-12-31T00:00:00.000Z'
                  metadata:
                    my_favorite_pet: Panda
                  tags:
                    - created_via_api
                    - test_document
                  images:
                    - name: Image 1
                      urls:
                        - https://s3.amazonaws.com/pd-static-content/public-docs/pandadoc-panda-bear.png
                  pricing_tables:
                    - name: Pricing Table 1
                      data_merge: true
                      options:
                        Tax:
                          type: percent
                          name: Tax
                          value: 10
                        Fee:
                          type: percent
                          name: Fee
                          value: 5
                      sections:
                        - title: Sample Section
                          default: true
                          rows:
                            - options:
                                optional: true
                                optional_selected: true
                                qty_editable: true
                              data:
                                Name: Toy Panda
                                Description: Fluffy!
                                Price: 10
                                QTY: 3
                                Tax:
                                  value: 20
                                  type: percent
                                Fee:
                                  value: 5
                                  type: percent
                              custom_fields:
                                Fluffiness: 5 / 5
              Full API Sample:
                summary: Full API Sample Document from PandaDoc Template
                value:
                  name: Full API Sample Document from [PandaDoc] Template
                  detect_title_variables: true
                  template_uuid: hryJY9mqYZHjQCYQuSjRQg
                  folder_uuid: QMDSzwabfFzTgjW4kUijqQ
                  owner:
                    membership_id: QMDSzwabfFzTgjW6KijHyu
                  recipients:
                    - email: josh@example.com
                      first_name: Josh
                      last_name: Ron
                      role: user
                  tokens:
                    - name: Favorite.Pet
                      value: Panda
                  fields:
                    Favorite.Color:
                      value: PandaDoc green
                    Delivery:
                      value: Same Day Delivery
                    Like:
                      value: true
                    Date:
                      value: '2019-12-31T00:00:00.000Z'
                  texts:
                    - name: Legal Terms Section
                      data: |
                        ## Terms of Service
                        This document outlines the terms and conditions. 
                        - **Acceptance:** By using our service, you agree to these terms.
                        - **Changes:** We may update these terms at any time.
                  metadata:
                    my_favorite_pet: Panda
                  tags:
                    - created_via_api
                    - test_document
                  images:
                    - name: Image 1
                      urls:
                        - https://s3.amazonaws.com/pd-static-content/public-docs/pandadoc-panda-bear.png
                  pricing_tables:
                    - name: Pricing Table 1
                      data_merge: true
                      options:
                        Tax:
                          type: percent
                          name: Tax
                          value: 10
                        Fee:
                          type: percent
                          name: Fee
                          value: 15
                      sections:
                        - title: Sample Section
                          default: true
                          rows:
                            - options:
                                optional: true
                                optional_selected: true
                                qty_editable: true
                              data:
                                Name: Toy Panda
                                Description: Fluffy!
                                Price: 10
                                QTY: 3
                                Tax:
                                  value: 20
                                  type: percent
                                Fee:
                                  value: 15
                                  type: percent
                              custom_fields:
                                Fluffiness: 5 / 5
                  tables:
                    - name: Table 1
                      data:
                        sections:
                          - header:
                              - text: header 1
                              - text: header 2
                            rows:
                              - - text: value 1
                                - text: value 2
                              - - text: value 3
                                - text: value 4
                  content_placeholders:
                    - block_id: '{block_id}'
                      content_library_items:
                        - id: '{cli_id}'
                          pricing_tables:
                            - name: Pricing Table 1
                              data_merge: false
                              options:
                                discount:
                                  type: absolute
                                  name: Discount
                                  value: 2.26
                              sections:
                                - title: Sample Section
                                  default: true
                                  rows:
                                    - options:
                                        optional: true
                                        optional_selected: true
                                        qty_editable: true
                                      data:
                                        name: Placeholder Panda
                                        price: 10
                                        qty: 3
                        - id: '{cli_id_2}'
                          recipients:
                            - email: john@example.com
                              first_name: John
                              last_name: Roe
                              role: Signer
                              signing_order: 2
                          fields:
                            Date:
                              value: '2019-12-31T00:00:00.000Z'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentCreateResponse'
              examples:
                Document from Template:
                  value:
                    id: D3okRfgHRX7NEhavcACReB
                    name: Document from Template
                    status: document.uploaded
                    date_created: '2024-07-04T19:27:14.927317Z'
                    date_modified: '2024-07-04T19:27:14.927317Z'
                    expiration_date: null
                    version: null
                    uuid: D3okRfgHRX7NEhavcACReB
                    links:
                      - rel: status
                        href: https://api.pandadoc.com/public/v1/documents/D3okRfgHRX7NEhavcACReB
                        type: GET
                    info_message: You need to poll the Document Status method until the status will be changed to document.draft
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  /public/v1/documents?upload:
    post:
      tags:
        - Documents
      summary: Create Document from File Upload
      description: |
        ## Create from an upload
        > See the [Create from PDF](https://developers.pandadoc.com/docs/create-document-from-file) tutorial for the usage specifics and sample PDF files.

        **Note**: A file you upload is not stored in your PandaDoc account, so you have to upload it with every request.
      operationId: createDocumentFromUpload
      parameters:
        - name: editor_ver
          in: query
          deprecated: true
          schema:
            type: string
          example: ev2
          description: Set this parameter as `ev1` if you want to create a document from PDF with Classic Editor when both editors are enabled for the workspace.
        - name: use_form_field_properties
          in: query
          schema:
            type: string
          example: 'true'
          description: Set this parameter as `yes` or `1` or `true` (only when upload pdf with form fields) if you want to  respect form fields properties, like `required`.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: Binary PDF File
                data:
                  $ref: '#/components/schemas/DocumentCreateByPdfRequest'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentCreateResponse'
              examples:
                Document from File Upload:
                  value:
                    id: D3okRfgHRX7NEhavcACReB
                    name: Document from Template
                    status: document.uploaded
                    date_created: '2024-07-04T19:27:14.927317Z'
                    date_modified: '2024-07-04T19:27:14.927317Z'
                    expiration_date: null
                    version: null
                    uuid: D3okRfgHRX7NEhavcACReB
                    links:
                      - rel: status
                        href: https://api.pandadoc.com/public/v1/documents/D3okRfgHRX7NEhavcACReB
                        type: GET
                    info_message: Wait until the status is changed to document.draft. You may use webhooks or poll the Document Status method.
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  /public/v1/documents/{id}:
    get:
      tags:
        - Documents
      summary: Document Status
      operationId: statusDocument
      description: |
        It is useful to request document status to ensure a document is in the expected state before calling additional API methods. 

        ### Required Document Statuses

        Here are some common methods and the `document.status` required to proceed:

        | API Method           | Required Document State |
        | :------------------- | :---------------------- |
        | Send A Document      | `document.draft`        |
        | Get Document Details | `document.draft`        |
        | Embed A Document     | `document.sent`         |
        | Download A Document  | `document.completed`    |

        > 📘 Polling vs Webhooks
        > 
        > If you are using the `GET` document status endpoint for [**polling**](https://en.wikipedia.org/wiki/Polling_(computer_science)), we also support and recommend using **webhooks** for event-driven needs: <https://developers.pandadoc.com/docs/listen-document-status-changes#/>

        ### Available Document Statuses

        The following is a complete list of all possible document statuses returned:

        | Document Status             | Status Description                                                                                                                                                                                                               |
        | :-------------------------- | :------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- |
        | `document.uploaded`         | The document has just been created or uploaded. It is in processing and will be in `document.draft` state soon.                                                                                                           |
        | `document.error`            | The document creation has failed. This status is terminal, you should stop polling after getting it.
        | `document.draft`            | The document is in a draft state. All aspects of the document can be edited in this state. Our API does not support edits after the document has been created, but it can still be edited manually on <https://app.pandadoc.com> |
        | `document.sent`             | The document has been "sealed" and optionally sent. No further document edits can occur except for document recipient(s) filling out or signing the document.                                                                    |
        | `document.viewed`           | Document recipient(s) have viewed the sent document.                                                                                                                                                                             |
        | `document.waiting_approval` | The document has an [automatic approval workflow](https://support.pandadoc.com/en/articles/9714799-approval-workflow) and has not yet been approved.                                                      |
        | `document.rejected`         | The document has an [automatic approval workflow](https://support.pandadoc.com/en/articles/9714799-approval-workflow) and was rejected.                                                                   |
        | `document.approved`         | The document has an [automatic approval workflow](https://support.pandadoc.com/en/articles/9714799-approval-workflow) and was approved.                                                                   |
        | `document.waiting_pay`      | The document has a [Stripe payment](https://support.pandadoc.com/en/articles/9714942-stripe-checkout-payments) option and is awaiting payment.                                                                              |
        | `document.paid`             | The document has a [Stripe payment](https://support.pandadoc.com/en/articles/9714942-stripe-checkout-payments) option and was paid.                                                                                         |
        | `document.completed`        | The document has been completed by all recipients.                                                                                                                                                                               |
        | `document.voided`           | The document expired and is no longer available for completion or signature.                                                                                                                                                     |
        | `document.declined`         | The document was [manually marked](https://support.pandadoc.com/en/articles/9714842-manually-change-document-status) as "Declined"                                                                                    |
        | `document.external_review`  | The document is reviewed by it's recipient using Suggest Edit feature                                                                                                                                                            |
      parameters:
        - examples:
            Document processing after create:
              value: fANp5wW5EwY7AkiTkTGekZ
            Document in draft:
              value: XjV64iXRJMerjSpk428QSF
          name: id
          in: path
          schema:
            type: string
          required: true
          description: Specify document ID.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentStatusResponse'
              examples:
                Document processing after create:
                  value:
                    id: fANp5wW5EwY7AkiTkTGekZ
                    name: Document from file
                    status: document.uploaded
                    date_created: '2024-07-02T16:21:57.510203Z'
                    date_modified: '2024-07-02T16:21:57.708251Z'
                    expiration_date: null
                    version: null
                    uuid: fANp5wW5EwY7AkiTkTGekZ
                Document in draft:
                  value:
                    id: XjV64iXRJMerjSpk428QSF
                    name: Document from template
                    status: document.draft
                    date_created: '2024-03-19T12:59:52.848666Z'
                    date_modified: '2024-03-19T12:59:53.957830Z'
                    date_completed: null
                    expiration_date: null
                    version: '2'
                    uuid: XjV64iXRJMerjSpk428QSF
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
    delete:
      tags:
        - Documents
      summary: Delete Document
      operationId: deleteDocument
      description: |
        Delete a document by ID.
      parameters:
        - examples:
            Delete document:
              value: BhVzRcxH9Z2LgfPPGXFUBa
          name: id
          description: Document ID
          in: path
          schema:
            type: string
          required: true
      responses:
        '204':
          description: No content
        '404':
          $ref: '#/components/responses/404'
    patch:
      tags:
        - Documents
      summary: Update Document
      operationId: updateDocument
      description: |
        Use the PATCH method to update a PandaDoc document.

        > 🚧 Document status
        > 
        > You can only update a document in the Draft status (`document.draft`). 
        > 
        > After creating a new document, it usually retains a `document.uploaded` status for 3-5 seconds while the document syncs across PandaDoc servers. When the document is available for further API calls, the document moves to the `document.draft` state. Use [Document Status](https://developers.pandadoc.com/reference/document-status) or Webhooks to check document status.
      parameters:
        - examples:
            Update document:
              value: BhVzRcxH9Z2LgfPPGXFUBa
          name: id
          description: Document ID
          in: path
          schema:
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentUpdateRequest'
            examples:
              Update document text blocks:
                value:
                  texts:
                    - name: Legal Terms Section
                      data: |
                        ## Terms of Service
                        This document outlines the terms and conditions. 
                        - **Acceptance:** By using our service, you agree to these terms.
                    - name: Product Description
                      data: |
                        ## Product Description
                        General description of the product.
      responses:
        '204':
          description: No content
        '400':
          $ref: '#/components/responses/400RequestError'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
  /public/v1/documents/{document_id}/auto-reminders:
    patch:
      summary: Update Document Auto Reminder Settings
      operationId: updateDocumentAutoReminderSettings
      description: |
        Configures automatic reminders for document recipients. 
        These reminders are sent after the document's initial dispatch. 
        Settings include enabling reminders, delivery method (email/SMS), initial delay, 
        and recurrence frequency.
      tags:
        - Document Reminders
      parameters:
        - name: document_id
          in: path
          description: The UUID of the document.
          schema:
            type: string
          required: true
          example: BhVzRcxH9Z2LgfPPGXFUBa
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDocumentAutoRemindersRequest'
            examples:
              Enable Auto Reminders:
                value:
                  enabled: true
                  delivery_method: email
                  initial_delay_days: 3
                  is_recurring: true
                  recurrence_frequency_days: 5
              Disable Auto Reminders:
                value:
                  enabled: false
      responses:
        '200':
          description: Auto reminder settings updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateDocumentAutoRemindersResponse'
              examples:
                Enabled Auto Reminders:
                  value:
                    enabled: true
                    delivery_method: email
                    initial_delay_days: 3
                    is_recurring: true
                    recurrence_frequency_days: 5
                Disabled Auto Reminders:
                  value:
                    enabled: false
                    delivery_method: email
                    initial_delay_days: 5
                    is_recurring: false
                    recurrence_frequency_days: 7
        '400':
          description: |
            Returned when auto reminder settings could not be retrieved from the document.
            This occurs when document is in a final state (e.g., completed, paid, declined, or expired).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentAutoRemindersResponse400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
    get:
      summary: Document Auto Reminder Settings
      operationId: getDocumentAutoReminderSettings
      description: |
        Retrieves the current auto reminder configuration for a specified document.
      tags:
        - Document Reminders
      parameters:
        - name: document_id
          in: path
          description: The UUID of the document.
          schema:
            type: string
          required: true
          example: BhVzRcxH9Z2LgfPPGXFUBa
      responses:
        '200':
          description: Auto reminder settings retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoReminders'
              examples:
                Enabled Auto-reminders:
                  value:
                    enabled: true
                    delivery_method: email
                    initial_delay_days: 3
                    is_recurring: true
                    recurrence_frequency_days: 5
                Disabled Auto-reminders:
                  value:
                    enabled: false
                    delivery_method: email
                    initial_delay_days: 5
                    is_recurring: false
                    recurrence_frequency_days: 7
        '400':
          description: |
            Returned when auto reminder settings could not be retrieved from the document.
            This occurs when document is in a final state (e.g., completed, paid, declined, or expired).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentAutoRemindersResponse400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
  /public/v1/documents/{document_id}/auto-reminders/status:
    get:
      summary: Document Auto Reminder Status
      operationId: statusDocumentAutoReminder
      description: |
        Retrieves the current auto reminder status per recipient for a specified document. Recipients who could not receive
        reminders due to validations (recipient groups, non-signers, etc.) will be skipped and not included in the response.
      tags:
        - Document Reminders
      parameters:
        - name: document_id
          in: path
          description: The UUID of the document.
          schema:
            type: string
          required: true
          example: BhVzRcxH9Z2LgfPPGXFUBa
      responses:
        '200':
          description: Auto reminder status retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentAutoRemindersResponse'
              examples:
                Auto Reminder Status:
                  value:
                    result:
                      - recipient_id: 2eWSKSvVqmuVCnuUK3iWwD
                        status: sent
                      - recipient_id: 2ZjA3A3RvjgVadJ9DpNQwz
                        status: error
                      - recipient_id: udDBKqHFhJt9PxzS5cv7to
                        status: scheduled
        '400':
          description: |
            Returned when auto reminder status could not be retrieved due to the document's current status or 
            reminders configuration.
            This occurs when:
              - The document has not been sent yet.
              - The document is in a final state (e.g., completed, paid, declined, or expired).
              - The auto reminders are disabled in the document settings.
          content:
            application/json:
              schema:
                properties:
                  type:
                    type: string
                    example: request_error
                  detail:
                    type: string
                    example: Can't get reminder status. Auto reminders aren't configured for this document or the document is not in SENT or VIEWED statuses
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
  /public/v1/documents/{document_id}/esign-disclosure:
    get:
      summary: Document eSign disclosure
      operationId: documentESignDisclosure
      x-ignore-camel-case: true
      description: |
        Retrieves the current version of eSign disclosure text for a specified document.
      tags:
        - Documents
      parameters:
        - name: document_id
          in: path
          description: The UUID of the document.
          schema:
            type: string
          required: true
          example: BhVzRcxH9Z2LgfPPGXFUBa
      responses:
        '200':
          description: ESign disclosure text retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentESignDisclosure'
              examples:
                ESign disclosure feature is enabled:
                  value:
                    result:
                      is_enabled: true
                      company_name: Acme Corp
                      esign_disclosure_text: |
                        <p>By signing this document electronically, you consent to use
                        electronic records and signatures. <strong>Your electronic signature</strong>
                        is the legal equivalent of your
                        handwritten signature.</p>
                ESign disclosure feature is disabled:
                  value:
                    result:
                      is_enabled: false
                      company_name: null
                      esign_disclosure_text: null
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
  /public/v1/documents/{id}/status:
    patch:
      tags:
        - Documents
      summary: Document Status Change
      operationId: changeDocumentStatus
      description: |
        PandaDoc has eight document statuses, but you can manually set your document status to only four:

        ### Document statuses

        - Completed - `document.completed` - API code `2`
        - Expired - `document.voided` - code `11`
        - Paid - `document.paid` - code `10`. **Important**: You can only set it if you have a payment app connected.
        - Declined - `document.declined` - code `12`

        > 🚧 Pass a numeric code for the corresponding document status, for example, `2` for `document.completed`.

        Find more details in [\[Editor 2.0\] Manually change document status](https://support.pandadoc.com/en/articles/9714842-manually-change-document-status) topic.

        | Current Status | To Completed: | To Expired: | To Paid: | To Declined: |
        |----------------|---------------|-------------|----------|--------------|
        | Draft          | YES           | NO          | YES      | YES          |
        | Approved       | NO            | NO          | NO       | NO           |
        | Sent           | YES           | YES         | NO       | YES          |
        | Viewed         | YES           | YES         | NO       | YES          |
        | Completed (Auto) | NO          | NO          | NO       | YES          |
        | Waithing for payment | NO      | NO          | YES      | YES          |
        | Paid           | NO            | NO          | NO       | NO           |
        | Expired        | YES           | NO          | YES      | YES          |
        | Declined       | YES           | NO          | YES      | NO           |

        > ✅ - from `document.voided` to `document.paid`
        >
        > ❌ - from `document.paid` to `document.voided`
      parameters:
        - examples:
            Mark as Decline:
              value: iGsFiaV2hEEvQdhr2WAkMk
            Mark as Completed:
              value: iGsFiaV2hEEvQdhr2WAkMk
            Mark as Expired:
              value: iGsFiaV2hEEvQdhr2WAkMk
            Mark as Paid:
              value: iGsFiaV2hEEvQdhr2WAkMk
          name: id
          in: path
          schema:
            type: string
          required: true
          description: Specify document ID.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentStatusChangeRequest'
            examples:
              Mark as Decline:
                value:
                  status: 12
                  note: Change status to Decline
                  notify_recipients: false
              Mark as Completed:
                value:
                  status: 2
                  note: Change status to Completed
                  notify_recipients: false
              Mark as Expired:
                value:
                  status: 11
                  note: Change status to Expired
                  notify_recipients: false
              Mark as Paid:
                value:
                  status: 10
                  note: Change status to Paid
                  notify_recipients: false
      responses:
        '204':
          description: No content
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '429':
          $ref: '#/components/responses/429'
  /public/v1/documents/{id}/status?upload:
    patch:
      tags:
        - Documents
      summary: Document Status Change with Upload
      operationId: changeDocumentStatusWithUpload
      description: |
        PandaDoc has eight document statuses, but you can manually set your document status to only four:

        ### Document statuses

        - Completed - `document.completed` - API code `2`
        - Expired - `document.voided` - code `11`
        - Paid - `document.paid` - code `10`. **Important**: You can only set it if you have a payment app connected.
        - Declined - `document.declined` - code `12`

        > 🚧 Pass a numeric code for the corresponding document status, for example, `2` for `document.completed`.

        Find more details in [\[Editor 2.0\] Manually change document status](https://support.pandadoc.com/en/articles/9714842-manually-change-document-status) topic.

        | Current Status | To Completed: | To Expired: | To Paid: | To Declined: |
        |----------------|---------------|-------------|----------|--------------|
        | Draft          | YES           | NO          | YES      | YES          |
        | Approved       | NO            | NO          | NO       | NO           |
        | Sent           | YES           | YES         | NO       | YES          |
        | Viewed         | YES           | YES         | NO       | YES          |
        | Completed (Auto) | NO          | NO          | NO       | YES          |
        | Waithing for payment | NO      | NO          | YES      | YES          |
        | Paid           | NO            | NO          | NO       | NO           |
        | Expired        | YES           | NO          | YES      | YES          |
        | Declined       | YES           | NO          | YES      | NO           |

        > ✅ - from `document.voided` to `document.paid`
        >
        > ❌ - from `document.paid` to `document.voided`
      parameters:
        - examples:
            Mark as Decline:
              value: iGsFiaV2hEEvQdhr2WAkMk
            Mark as Completed:
              value: iGsFiaV2hEEvQdhr2WAkMk
            Mark as Expired:
              value: iGsFiaV2hEEvQdhr2WAkMk
            Mark as Paid:
              value: iGsFiaV2hEEvQdhr2WAkMk
          name: id
          in: path
          schema:
            type: string
          required: true
          description: Specify document ID.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: Binary attachment file
                data:
                  allOf:
                    - $ref: '#/components/schemas/DocumentStatusChangeRequest'
                    - description: JSON as a multipart/form-data string.
      responses:
        '204':
          description: No content
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '429':
          $ref: '#/components/responses/429'
  /public/v1/documents/{id}/draft:
    post:
      tags:
        - Documents
      summary: Move Document to Draft
      operationId: documentRevertToDraft
      description: |
        Revert your document back to draft to continue editing it.

        > 📘 Returning to Draft works for any document status except Removed.

        ## After you move your document to the Draft status

        - `Signature` and `Initials` fields are cleared. All other fields stay filled in.
        - Recipients are **not** notified that the document is back in Draft.
        - You'll need to resend the document so that recipients can sign the updated version.
      parameters:
        - examples:
            Move to Draft:
              value: iGsFiaV2hEEvQdhr2WAkMk
          name: id
          in: path
          schema:
            type: string
          required: true
          description: Specify document ID.
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentRevertToDraftResponse'
              examples:
                Move to Draft:
                  value:
                    id: msFYActMfJHqNTKH8YSvF1
                    name: Document
                    status: document.draft
                    date_created: '2017-08-06T08:42:13.836022Z'
                    date_modified: '2017-09-04T02:21:13.963750Z'
                    expiration_date: null
                    version: '2'
  /public/v1/documents/{id}/details:
    get:
      tags:
        - Documents
      summary: Document Details
      operationId: detailsDocument
      description: |
        Return detailed data about a document. Use Document Status for getting just a basic info and status.

        Get details about a document by its `id`. Details include:

        - Basic document information (name, document state, owner, sender, grand total, etc.)
        - Recipients (completion status, signing order, etc.)
        - Fields with values (incl. Collect Files field)
        - Tokens (variables) with values
        - Pricing information (pricing tables, products, quotes, etc.)
        - Content block names for table, image, and text blocks (tables, images, texts)
        - Metadata
        - Tags
        - Linked objects
        - [Approval flow](https://support.pandadoc.com/en/articles/9714799-approval-workflow) (if present)
        - Timestamps associated with a document. Note that `date_modified` means any changes associated with the recipients and document status, while `content_date_modified` reflects any changes in the document content.
      parameters:
        - examples:
            Document from empty template:
              value: BhVzRcxH9Z2LgfPPGXFUBa
            API Sample Document from PandaDoc template:
              value: PeePkgJLFT2UittjVdEyYG
            Completed Document Details:
              value: f9CbJKS4ZAs6nU629cuowb
          name: id
          description: Document ID
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentDetailsResponse'
              examples:
                Completed Document Details:
                  value:
                    approval_execution: null
                    content_date_modified: '2024-07-08T15:43:54.194562Z'
                    linked_objects: []
                    date_completed: '2024-07-08T15:43:53.877522Z'
                    id: f9CbJKS4ZAs6nU629cuowb
                    name: Digital Marketing Proposal
                    autonumbering_sequence_name_prefix: null
                    date_created: '2024-07-08T15:36:09.600947Z'
                    date_modified: '2024-07-08T15:43:53.918819Z'
                    date_sent: '2024-07-08T15:41:23.351853Z'
                    ref_number: MTMJR-FEUQB-ECEWW-3WVZP
                    created_by:
                      id: FA5QAu8UGA3oVDQZuPL75B
                      email: pandaDoc@pandadoc.com
                      first_name: Panda
                      last_name: Doc
                      avatar: null
                      membership_id: RyMNXBjBPRppw56TfYBrXi
                    template:
                      id: gZRVmyHiQV5riXSCMKsku2
                      name: Sample Template
                    expiration_date: '2024-09-06T15:43:36.297737Z'
                    metadata:
                      document__created_via_public_api: 'true'
                      document__creation_source: public api
                    tokens: []
                    fields:
                      - uuid: f03e22f3-b3a8-4783-8b26-e43880ef87bf
                        name: Signature
                        title: ''
                        value: {}
                        placeholder: Signature
                        assigned_to:
                          id: 8KAZvGRL3W4u44a4fyDoeH
                          first_name: Recipient First Name
                          last_name: Recipient Last Name
                          email: test@pandadoc.com
                          phone: ''
                          recipient_type: signer
                          has_completed: true
                          role: Client
                          roles:
                            - Client
                          signing_order: null
                          delivery_methods:
                            sms: false
                            email: true
                          redirect:
                            is_enabled: false
                            url: null
                          type: recipient
                        field_id: signature_f03e22f3-b3a8-4783-8b26-e43880ef87bf
                        type: signature
                    pricing: {}
                    tables:
                      - name: Table_1
                    images:
                      - name: Image_1
                    texts:
                      - name: Legal Terms Section
                    tags:
                      - tag1
                    status: document.completed
                    recipients:
                      - id: 8KAZvGRL3W4u44a4fyDoeH
                        first_name: Recipient First Name
                        last_name: Recipient Last Name
                        email: test@pandadoc.com
                        phone: ''
                        recipient_type: signer
                        has_completed: true
                        role: Client
                        roles:
                          - Client
                        signing_order: null
                        delivery_methods:
                          sms: false
                          email: true
                        redirect:
                          is_enabled: false
                          url: null
                        contact_id: HzXnuyNraSXMhXchYjUmHJ
                        shared_link: https://app.pandadoc.com/document/15d4b481384b652a298530ddc7023bfc07a67d59
                        signature_date: '2024-07-08T15:43:53.800135Z'
                        verification_settings:
                          verification_place: before_open
                          kba_verification: null
                          passcode_verification: null
                          phone_verification: null
                          id_verification:
                            enabled: true
                        type: recipient
                    sent_by:
                      id: FA5QAu8UGA3oVDQZuPL75B
                      email: pandadoc@pandadoc.com
                      first_name: Panda
                      last_name: Doc
                      avatar: null
                    grand_total:
                      amount: '0'
                      currency: EUR
                    version: '2'
                Document from empty template:
                  value:
                    approval_execution: null
                    content_date_modified: '2024-07-05T07:21:42.429978Z'
                    linked_objects: []
                    date_completed: null
                    id: VFU2v7oq3ZiKCHD936eoHg
                    name: Document from empty Template
                    autonumbering_sequence_name_prefix: null
                    date_created: '2024-07-05T07:21:41.984654Z'
                    date_modified: '2024-07-05T07:21:42.409797Z'
                    date_sent: null
                    ref_number: MTMJR-FEUQB-ECEWW-3WVZP
                    created_by:
                      id: bgx5MR7LiR3f9MQtt4MWYM
                      email: siarhei.soroka@pandadoc.com
                      first_name: Siarhei
                      last_name: Soroka
                      avatar: https://avatars.pandadoc-static.com/users/bgx5MR7LiR3f9MQtt4MWYM/avatar.jpeg
                      membership_id: nYNQTypQfNEnrcVR7VAzWQ
                    template:
                      id: bonjUYEwp8TtHmEnrEy7kZ
                      name: Sample Template
                    expiration_date: null
                    metadata:
                      document__creation_source: public api
                      document__created_via_public_api: 'true'
                    tokens: []
                    fields: []
                    tables: []
                    images: []
                    pricing: {}
                    tags: []
                    status: document.draft
                    recipients: []
                    sent_by: null
                    grand_total:
                      amount: '0'
                      currency: USD
                    version: '2'
                API Sample Document from PandaDoc template:
                  value:
                    id: 7kqXgjFejB2toXxjcC5jfZ
                    name: API Sample Document from PandaDoc Template
                    autonumbering_sequence_name_prefix: null
                    date_created: '2021-10-23T21:07:04.147Z'
                    date_modified: '2021-10-23T21:07:04.147Z'
                    date_completed: '2021-10-23T21:07:04.147Z'
                    content_date_modified: '2021-10-23T21:07:04.147Z'
                    date_sent: null
                    ref_number: MTMJR-FEUQB-ECEWW-3WVZP
                    created_by:
                      id: 7kqXgjFejB2toXxjcC5jfZ
                      membership_id: 7kqXgjFejB2toXxjcC5jfZ
                      email: teset@test.test
                      first_name: Jhon
                      last_name: Dow
                      avatar: https://pd-live-media.s3.amazonaws.com/users/000GTSGwJw000L2KZqc000/avatar.jpg
                    template:
                      id: hryJY9mqYZHjQCYQuSjRQg
                      name: Upload test
                    expiration_date: null
                    metadata:
                      document__created_via_public_api: 'true'
                      my_favorite_pet: Panda
                      opp_id: '1234567'
                    tokens:
                      - name: Document.GrandTotal
                        value: $29.99
                      - name: Favorite.Pet
                        value: Panda
                    fields:
                      - uuid: f9574c3b-5b1e-4479-b2c9-c3ccd92748f3
                        name: Click to upload a file
                        title: ''
                        placeholder: Click to upload a file
                        value:
                          name: file_name.pdf
                          url: https://uploadfields.pandadoc-static.com/collect_files/e7b082c2-395b-43c7-a24c-66bd1bbb5d2f/65af1f23-9d26-4622-8ff0-f406b3be27b8-file_name.pdf
                        assigned_to:
                          id: Fx7CgaVgpGbJBgZ4i5oTx8
                          first_name: John
                          last_name: Roe
                          email: john@example.com
                          recipient_type: signer
                          has_completed: false
                          role: ''
                          roles:
                            - singer
                          type: recipient
                        field_id: CollectFile1
                        type: collect_file
                      - uuid: f9574c3b-5b1e-4479-b2c9-c3ccd92748f3
                        name: Favorite.Color
                        merge_field: Favorite.Color
                        title: Textfield
                        value: value
                        assigned_to:
                          id: Fx7CgaVgpGbJBgZ4i5oTx8
                          first_name: John
                          last_name: Roe
                          email: john@example.com
                          recipient_type: signer
                          has_completed: false
                          role: ''
                          roles: []
                          type: recipient
                        field_id: text1
                        type: text
                      - uuid: f9574c3b-5b1e-4479-b2c9-c3ccd92748f3
                        name: Like
                        merge_field: Like
                        title: Checkbox
                        value: true
                        assigned_to:
                          id: Fx7CgaVgpGbJBgZ4i5oTx8
                          first_name: John
                          last_name: Roe
                          email: john@example.com
                          recipient_type: signer
                          has_completed: false
                          role: ''
                          roles:
                            - signer
                          type: recipient
                        field_id: checkbox1
                        type: checkbox
                    pricing:
                      tables:
                        - name: Pricing Table
                          id: 065c5cbc-a065-4843-ba17-028e63779605
                          total: '11500'
                          is_included_in_total: true
                          summary:
                            subtotal: '11500'
                            total: '11500'
                            discount: '0'
                            tax: '0'
                            fee: '0'
                          items:
                            - id: string
                              sku: string
                              qty: '10'
                              name: Annual license
                              cost: string
                              price: '100'
                              description: 1 year subscription
                              custom_fields: {}
                              custom_columns:
                                Images: ''
                                Cost: ''
                                Subtotal: ''
                              discount:
                                value: string
                                type: string
                              tax_first:
                                value: string
                                type: string
                              tax_second:
                                value: string
                                type: string
                              subtotal: '10000'
                              options: {}
                              sale_price: '1000'
                              taxes: {}
                              discounts: {}
                              fees: {}
                              merged_data:
                                custom_name: SomeName
                                custom_description: SomeCustomDescription
                                custom_price: '10.99'
                                custom_qty: '1.00'
                                custom_sku: Test
                                custom_tax:
                                  value: '10'
                                  type: percent
                                custom_fee:
                                  value: '10'
                                  type: percent
                                custom_discount:
                                  value: '10'
                                  type: percent
                                custom_text: Some other
                                Cost: null
                                Subtotal: '26.38'
                                fluffiness: Fluffiness
                                Other_field: SomeText
                          currency: USD
                      quotes:
                        - id: 4b011d86-286b-4f86-b697-90a6ad3f1489
                          currency: USD
                          total: '900'
                          summary:
                            total: '900'
                            subtotal: '1000'
                            one_time_subtotal: '500'
                            recurring_subtotal:
                              - billing_cycle: monthly
                                value: '500'
                            total_qty: string
                            discounts:
                              property1:
                                type: string
                                value: string
                              property2:
                                type: string
                                value: string
                            taxes: {}
                            fees: {}
                            custom_fields:
                              property1: string
                              property2: string
                            total_discount: '100'
                            total_tax: string
                            total_fee: string
                            total_savings: string
                            total_contract_value: '1900'
                          sections:
                            - id: string
                              name: string
                              summary:
                                total: '1000'
                                subtotal: '1000'
                                one_time_subtotal: '500'
                                recurring_subtotal:
                                  - billing_cycle: monthly
                                    value: '500'
                                total_qty: string
                                discounts: {}
                                taxes: {}
                                fees: {}
                                custom_fields:
                                  property1: string
                                  property2: string
                                total_section_value: '1900'
                              columns:
                                - header: string
                                  name: string
                                  merge_name: string
                                  hidden: string
                              items:
                                - id: string
                                  sku: string
                                  name: string
                                  description: string
                                  qty: '1'
                                  price: '500'
                                  cost: string
                                  billing_frequency: string
                                  contract_term: string
                                  pricing_method: string
                                  type: string
                                  reference_type: string
                                  options:
                                    selected: true
                                    qty_editable: true
                                  custom_columns:
                                    property1: string
                                    property2: string
                                  discounts:
                                    property1:
                                      type: string
                                      value: string
                                    property2:
                                      type: string
                                      value: string
                                  taxes:
                                    property1:
                                      type: string
                                      value: string
                                    property2:
                                      type: string
                                      value: string
                                  fees:
                                    property1:
                                      type: string
                                      value: string
                                    property2:
                                      type: string
                                      value: string
                                  multipliers:
                                    property1: string
                                    property2: string
                                  total: string
                                  overall_total: '1000'
                              total: '1000'
                              settings:
                                optional: true
                                selected: true
                                selection_type: custom
                          merge_rules:
                            - id: string
                              enabled: true
                              action:
                                type: string
                                section_id: string
                              condition:
                                field_name: string
                                type: string
                                comparison:
                                  - type: string
                                    value: string
                          settings:
                            selection_type: custom
                      total: '11500'
                    tables:
                      - name: Table 1
                    images:
                      - name: Image 1
                    version: '2'
                    tags:
                      - tag1
                      - tag2
                    sent_by: null
                    recipients:
                      - recipient_type: CC
                        role: ''
                        roles:
                          - user
                        last_name: Dow
                        signing_order: null
                        id: 7kqXgjFejB2toXxjcC5jfZ
                        contact_id: 7kqXgjFejB2toXxjcC5jfZ
                        first_name: Jhon
                        email: test@test.com
                        has_completed: true
                        shared_link: https://app.pandadoc.com/document/b7f11ea3c09d1c11208cc122457d4f3a2829d364
                        verification_settings:
                          verification_place: before_open
                          passcode_verification:
                            passcode: SimpleCode1
                          kba_verification: null
                          id_verification: null,
                          phone_verification: null
                        signature_date: '2021-10-23T21:07:04.147Z'
                    grand_total:
                      amount: '29.99'
                      currency: USD
                    linked_objects:
                      - provider: hubspot
                        entity_type: deal
                        entity_id: '18640'
                        id: ea88ed1dc8094dd3a57754aa643a1954
                    status: document.draft
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '429':
          $ref: '#/components/responses/429'
  /public/v1/documents/{id}/send:
    post:
      tags:
        - Documents
      summary: Send Document
      operationId: sendDocument
      description: |
        > 🚧 Using the Sandbox Key
        > 
        > When you use a [sandbox API key](https://developers.pandadoc.com/reference/sandbox-key) during the free trial period, the sender and recipient email addresses must be from the same organisation (email domain).

        ## Document State

        - You can only send a document in the `document.draft` status.
        - After creating a new document, it usually retains a `document.uploaded` status for 3-5 seconds while the document syncs across PandaDoc servers. When the document is available for further API calls, it moves to the `document.draft` state. Use [Document Status](/reference/document-status) or [Webhooks](/reference/on-document-status-change) to check document status.
        - Moving a document to the `document.sent` status finalizes the document structure, before recipients can complete it.
        - If a template used for the document creation has an approval workflow turned on, the sent document moves to the `document.waiting_approval` status. Once the document is approved, you need to make the call again to move the document to `document.sent` status.

        ## Send and Silence Notifications

        - By default, PandaDoc sends a notification email to the recipient, as well as notifications the sender has configured. You may disable all notifications for recipients by passing `silent: true`. This is useful when you are using alternative delivery methods such as linking to the document or embedding the document.
        - The `silent: true` parameter disables sent, viewed, comment and completed document email notifications. "Document Approval" notification won't be affected by this parameter.
        - If you pass `silent: false`, the document is going to be delivered by email and/or SMS. 

        ![Example email. Branding can be changed in workspace settings](https://files.readme.io/cc5a03e-email2.png)

        ## Select Approver from Group

        If you have previously set up an approval workflow with selectable groups on the UI, you can select a particular approver from this group. Learn more about [selectable groups](https://support.pandadoc.com/en/articles/9714799-approval-workflow#h_01H4GNY5GSGG38BPYY46XV7GB4).  
        To set an approver, we recommend to follow these steps:

        1. Run the [Document Details](https://developers.pandadoc.com/reference/document-details) request.
        2. Copy the `steps` part from the `approval_execution` section of the response into the `selected_approvers` field of the Send Document payload.
        3. Modify your payload according to business needs: set `is_selected` to true for one approver.

        > 📘 **Note**: You can change the selected approver only if you revert your document back to the `document.draft` status.
      parameters:
        - name: id
          description: Document ID
          in: path
          schema:
            type: string
          required: true
          example: ZPeAfcpzr9aiVs5vqUf6jg
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentSendRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentSendResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '429':
          $ref: '#/components/responses/429'
  /public/v1/documents/{id}/editing-sessions:
    post:
      summary: |
        Create Document Editing Session
      description: |
        Creates a new editing session for the Embedded Editor. The response includes an E-Token, which is required to open the document.

        > 🚧 **Important:** The Embedded Editor can only open documents that have a `draft` status.

        #### Limitations

        - **Single Active Session per User-Document Pair** 
          Only one editing session can be active at a time for a specific user and document. Creating a new session for the same user-document pair will automatically invalidate the previous one.

        - **Weekly Session Cap** 
          A maximum of **250** editing sessions can be created for a single document per week. Any attempt to exceed this limit will result in a `403 Forbidden` error.
      operationId: createDocumentEditingSession
      tags:
        - Documents
      parameters:
        - name: id
          in: path
          description: Document ID
          schema:
            type: string
          required: true
          example: pSgK5XYZjyg3zXYZxsoUWg
      requestBody:
        required: true
        content:
          application/json:
            examples:
              Default:
                value:
                  email: john.doe@pandadoc.com
                  lifetime: 100
            schema:
              $ref: '#/components/schemas/EditingSessionRequest'
      responses:
        '201':
          description: Document Editing Session created
          content:
            application/json:
              examples:
                Default:
                  value:
                    id: ce9825e5-3210-4a8f-1230-f32b643295d2
                    email: john.doe@pandadoc.com
                    expires_at: '2025-01-10T00:09:09.612651Z'
                    token: 985b695b56eaaa571e9bb8e522afd5bd335c32d7
                    document_id: pSgK5XYZjyg3zXYZxsoUWg
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseEditingSessionResponse'
                  - type: object
                    properties:
                      document_id:
                        type: string
                        description: ID of the document
                        example: pSgK5XYZjyg3zXYZxsoUWg
        '400':
          description: Bad request
          content:
            application/json:
              examples:
                Default:
                  value:
                    type: request_error
                    detail:
                      lifetime:
                        - Ensure this value is greater than or equal to 60.
              schema:
                properties:
                  type:
                    type: string
                    example: request_error
                  detail:
                    type: object
                    example:
                      count:
                        - A valid integer is required.
                      order_by:
                        - value is not a valid choice.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
  /public/v1/documents/{id}/session:
    post:
      tags:
        - Documents
      summary: Create Document Session for Embedded Sign
      operationId: createDocumentLink
      description: |
        Creates a document session for a recipient to view and sign a document.

        > 📘 How to create an Embedded Sign session
        > For more information on how to create an Embedded Sign session, see the [Embedded Signing](https://developers.pandadoc.com/docs/embedded-signing) documentation.
      parameters:
        - examples:
            Signing session:
              value: ZPeAfcpzr9aiVs5vqUf6jg
          name: id
          description: Document ID
          in: path
          schema:
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentCreateLinkRequest'
            examples:
              Signing session:
                value:
                  recipient: test@mail.com
                  lifetime: 900
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentCreateLinkResponse'
              examples:
                Signing session:
                  value:
                    id: nPh2PDhFdDqAES9k64h9qX
                    expires_at: '2024-07-01T08:03:57.536427Z'
        '400':
          $ref: '#/components/responses/400RequestError'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
  /public/v1/documents/{id}/download:
    get:
      tags:
        - Documents
      summary: Document Download
      operationId: downloadDocument
      description: |
        Download documents as a PDF.
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
          description: Specify document ID.
          example: BhVzRcxH9Z2LgfPPGXFUBa
        - name: watermark_color
          in: query
          schema:
            type: string
          description: HEX code (for example `#FF5733`).
          example: '#FF5733'
        - name: watermark_font_size
          in: query
          schema:
            type: integer
          description: Font size of the watermark.
          example: 12
        - name: watermark_opacity
          in: query
          schema:
            type: number
            format: float
          description: In range 0.0-1.0
          example: 0.5
        - name: watermark_text
          in: query
          schema:
            type: string
          description: Specify watermark text.
          example: John Doe inc.
        - name: separate_files
          in: query
          schema:
            type: boolean
            default: false
          description: Download document bundle as a zip-archive of separate PDFs (1 file per section).
          example: false
      responses:
        '200':
          description: OK
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/400RequestError'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '429':
          $ref: '#/components/responses/429'
  /public/v1/documents/{id}/download-protected:
    get:
      tags:
        - Documents
      summary: Download Completed Document
      description: |
        Download a completed document as a verifiable PDF (Download Protected Document)
        > 🚧 Production key only
        > 
        > This endpoint only works with a Production key. You'll get a 401 Unauthorized error when trying to use a Sandbox key.

        Download a signed PDF of a completed document
      operationId: downloadProtectedDocument
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
          description: Specify document ID.
          example: Mebvyy3NGsGBnY2rPLkH84
        - name: separate_files
          in: query
          schema:
            type: boolean
            default: false
          description: Download document bundle as a zip-archive of separate PDFs (1 file per section).
          example: false
      responses:
        '200':
          description: OK
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '429':
          $ref: '#/components/responses/429'
  /public/v1/documents/linked-objects:
    get:
      summary: List Documents by Linked Object
      description: Get a list of documents connected to a linked object - an entity from an integration.
      operationId: listDocumentsByLinkedObject
      tags:
        - Document Link to CRM
      parameters:
        - name: entity_id
          in: query
          description: You can get entity id from your integration, for example, from a url of a HubSpot deal.
          required: true
          schema:
            type: string
          example: '12345'
        - name: entity_type
          in: query
          description: |
            See the available entity types:
            https://developers.pandadoc.com/reference/link-service#examples-of-the-most-popular-crms
          required: true
          schema:
            type: string
          example: deal
        - name: provider
          in: query
          description: |
            See the available providers:
            https://developers.pandadoc.com/reference/link-service#examples-of-the-most-popular-crms
          required: true
          schema:
            type: string
          example: hubspot
        - name: order_by
          in: query
          schema:
            type: string
            default: '-date_created'
          example: '-date_created'
        - name: owner_ids
          in: query
          schema:
            type: array
            items:
              type: string
            default:
              - '[]'
          example:
            - owner1
            - owner2
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value:
                    - id: PG4YBFvSp9zW8nQf7zfmqb
                      status: document.draft
                      date_created: '2023-11-27T14:11:13.198496Z'
                      template_id: 5bAoesA6MDF97BG6wfhfZE
              schema:
                $ref: '#/components/schemas/ListDocumentsByLinkedObjectsResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '429':
          $ref: '#/components/responses/429'
  /public/v1/documents/{id}/linked-objects:
    get:
      tags:
        - Document Link to CRM
      summary: List Linked Objects
      operationId: listLinkedObjects
      description: |
        Get a list of linked objects for the document.
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
          description: Specify document ID.
          example: ZPeAfcpzr9aiVs5vqUf6jg
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkedObjectListResponse'
              examples:
                List Linked Objects:
                  value:
                    linked_objects:
                      - id: abb4d3fc-919b-491e-9e08-775036660c0b
                        provider: pipedrive
                        entity_type: deal
                        entity_id: '134'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '429':
          $ref: '#/components/responses/429'
    post:
      tags:
        - Document Link to CRM
      summary: Create Linked Object
      operationId: createLinkedObject
      description: |
        Create a linked object in the document.

        > 🚧 
        > 
        > You can only link each document to each CRM once. This ensures the consistent functionality of the [two-way CRM sync](https://support.pandadoc.com/en/articles/9714877-hubspot-crm#h_3a3344e8-2a6e-4fd8-86be-0da8c121e4ac).
        > 
        > You can, however, link one document to several external systems.
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
          description: Specify document ID.
          example: ZPeAfcpzr9aiVs5vqUf6jg
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkedObjectCreateRequest'
            examples:
              Create Linked Object:
                value:
                  provider: pipedrive
                  entity_type: deal
                  entity_id: '134'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkedObjectCreateResponse'
              examples:
                Create Linked Object:
                  value:
                    provider: pipedrive
                    entity_type: deal
                    entity_id: '134'
                    id: abb4d3fc-919b-491e-9e08-775036660c0b
        '400':
          $ref: '#/components/responses/400RequestError'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
  /public/v1/documents/{id}/linked-objects/{linked_object_id}:
    delete:
      tags:
        - Document Link to CRM
      summary: Delete Linked Object
      operationId: deleteLinkedObject
      description: Delete a linked object associated with a document.
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
          description: Specify document ID.
          example: ZPeAfcpzr9aiVs5vqUf6jg
        - name: linked_object_id
          in: path
          schema:
            type: string
          required: true
          description: Specify linked object ID.
          example: deb0d530-d759-4189-a422-8d2265e01b2e
      responses:
        '204':
          description: No content
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '429':
          $ref: '#/components/responses/429'
  /public/v1/documents/{id}/attachments:
    get:
      summary: List Document Attachments
[...]
