openapi: 3.0.3
info:
  title: PandaDoc Public API
  description: |
    PandaDoc API spans a broad range of functionality to help you build incredible documents automation experiences inside your product.

    PandaDoc API is organized around REST. Our API has predictable resource-oriented URLs and uses standard HTTP response codes, authentication, and verbs.

    ## Getting started

    You can start testing PandaDoc API with a sandbox key on our [Enterprise](https://www.pandadoc.com/pricing/) plan, either active or in trial.

    Generate your [sandbox key](https://developers.pandadoc.com/reference/sandbox-key) on the Developer Dashboard with predefined [rate limits](https://developers.pandadoc.com/reference/limits). Or contact our solutions expert if you work with high-transaction volumes.

    ## Guides

    If you’re just getting started with PandaDoc, you may want to jump straight into one of our [getting started guides](https://developers.pandadoc.com/docs/getting-started) for the feature you’re most interested in, whether that’s:

    - [Create from template](https://developers.pandadoc.com/docs/create-send-document),
    - [Upload and send a local PDF](https://developers.pandadoc.com/docs/upload-and-send-a-local-pdf),
    - or [Listening for changes in document status](https://developers.pandadoc.com/docs/listen-document-status-changes).

    We also recommend you to discover our dynamic content generation on a fly: [Create from a template with content placeholder](https://developers.pandadoc.com/docs/create-with-content-placeholders-from-template).
  termsOfService: 'https://www.pandadoc.com/master-services-agreement/'
  contact:
    name: PandaDoc API Support
    url: 'https://developers.pandadoc.com/'
    email: api-track@pandadoc.com
  license:
    name: MIT
    url: 'https://github.com/PandaDoc/pandadoc-openapi-specification/blob/main/LICENSE'
  version: 7.0.0
servers:
  - url: 'https://api.pandadoc.com'
    description: Public API
paths:
  /oauth2/access_token:
    post:
      summary: Create/Refresh Access Token
      description: ''
      operationId: accessToken
      tags:
        - OAuth 2.0 Authentication
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              oneOf:
                - $ref: '#/components/schemas/OAuth2CreateAccessTokenRequest'
                - $ref: '#/components/schemas/OAuth2RefreshAccessTokenRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuth2AccessTokenResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  error:
                    type: string
                    example: unsupported_grant_type
  /public/v1/documents:
    get:
      tags:
        - Documents
      summary: List Documents
      description: "> \U0001F4D8 List by Linked Objects\n>\n> To get a list of documents by their linked objects from external integrated systems.\n> [Use a separate endpoint](https://developers.pandadoc.com/reference/list-documents-by-linked-object)\n\n# Listing Documents Efficiently\n\nIf your workspace contains hundreds of thousands of documents, you may experience higher latency of your requests.\n\n> \U0001F44D Pro tip\n> \n> Using `order_by = date_created` ensures stable performance and quick responses.\n> \n> If you need to order documents by a different field, use the `created_from` and `created_to` parameters to limit the result set, and run requests in batches.\n\n## Usage examples\n\n1. `count=100&order_by=date_created&created_from=2023-08-01T00:00:00.000000Z&created_to=2023-09-01T00:00:00.000000Z`  \n  This request returns only documents created in August. \n2. The next request is for `page = 2` (still listing documents created in August):  \n  `count=100&order_by=date_created&created_from=2023-08-01T00:00:00.000000Z&created_to=2023-09-01T00:00:00.000000Z&page=2`\n3. Once you receive an empty response, it means you listed all the documents created in the provided time range. Continue listing them by setting another month:  \n  `count=100&order_by=date_created&created_from=2023-07-01T00:00:00.000000Z&created_to=2023-08-01T00:00:00.000000Z`  \n  This request lists the documents created in July 2023.\n\n# Caveats\n\n- By default, PandaDoc API lists documents sorted by the `date_status_changed` attribute.\n"
      operationId: listDocuments
      parameters:
        - name: completed_from
          in: query
          schema:
            type: string
            format: datetime
          example: '2021-10-27T15:22:23.132757Z'
          description: Return results where the `date_completed` field (ISO 8601) is greater than or equal to this value.
        - name: completed_to
          in: query
          schema:
            type: string
            format: datetime
          description: Return results where the `date_completed` field (ISO 8601) is less than or equal to this value.
          example: '2021-10-27T15:22:23.132757Z'
        - name: contact_id
          in: query
          schema:
            type: string
          description: Returns results where 'contact_id' is present in document as recipient or approver
          example: 9FeAY2NB3C9qDdtQRb4tTL
        - name: count
          in: query
          schema:
            type: integer
          description: 'Specify how many document results to return. Default is 50 documents, maximum is 100 documents.'
          example: 50
        - name: created_from
          in: query
          schema:
            type: string
            format: datetime
          description: Return results where the `date_created` field (ISO 8601) is greater than or equal to this value.
          example: '2021-10-27T15:22:23.132757Z'
        - name: created_to
          in: query
          schema:
            type: string
            format: datetime
          description: Return results where the `date_created` field (ISO 8601) is less than this value.
          example: '2021-10-27T15:22:23.132757Z'
        - name: deleted
          in: query
          schema:
            type: boolean
          description: Returns only the deleted documents.
        - name: id
          in: query
          schema:
            type: string
            description: Specify document's ID.
          example: BhVzRcxH9Z2LgfPPGXFUBa
        - name: folder_uuid
          in: query
          schema:
            type: string
          description: The UUID of the folder where the documents are stored.
          example: BhVzRcxH9Z2LgfPPGXFUBa
        - name: form_id
          in: query
          schema:
            type: string
          description: Specify the form used for documents creation. This parameter can't be used with template_id.
          example: BhVzRcxH9Z2LgfPPGXFUBa
        - name: membership_id
          in: query
          schema:
            type: string
          description: Returns results where 'membership_id' is present in document as owner (should be member uuid)
          example: BhVzRcxH9Z2LgfPPGXFUBa
        - name: metadata
          in: query
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
          description: 'Specify metadata to filter by in the format of `metadata_{metadata-key}={metadata-value}` such as `metadata_opportunity_id=2181432`. The `metadata_` prefix is always required.'
          example:
            - metadata_opportunity_id=2181432
            - metadata_custom_key=custom_value
        - name: modified_from
          in: query
          schema:
            type: string
            format: datetime
          description: Return results where the `date_modified` field (iso-8601) is greater than or equal to this value.
          example: '2021-10-27T15:22:23.132757Z'
        - name: modified_to
          in: query
          schema:
            type: string
            format: datetime
          description: Return results where the `date_modified` field (iso-8601) is less than this value.
          example: '2021-10-27T15:22:23.132757Z'
        - name: order_by
          in: query
          schema:
            $ref: '#/components/schemas/DocumentOrderingFieldsEnum'
          description: 'Specify the order of documents to return. Use `value` (for example, `date_created`) for ASC and `-value` (for example, `-date_created`) for DESC.'
          examples:
            Default order by date_status_changed:
              value: date_status_changed
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
          description: Specify which page of the dataset to return.
          example: 1
        - name: q
          in: query
          schema:
            type: string
          description: Search query. Filter by document reference number (this token is stored on the template level) or name.
          example: Sample Document
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/DocumentStatusRequestEnum'
          description: |
            Specify the status of documents to return.
              * 0: document.draft
              * 1: document.sent
              * 2: document.completed
              * 3: document.uploaded
              * 4: document.error
              * 5: document.viewed
              * 6: document.waiting_approval
              * 7: document.approved
              * 8: document.rejected
              * 9: document.waiting_pay
              * 10: document.paid
              * 11: document.voided
              * 12: document.declined
              * 13: document.external_review
        - name: status__ne
          in: query
          schema:
            $ref: '#/components/schemas/DocumentStatusRequestEnum'
          description: |
            Specify the status of documents to return (exclude).
              * 0: document.draft
              * 1: document.sent
              * 2: document.completed
              * 3: document.uploaded
              * 4: document.error
              * 5: document.viewed
              * 6: document.waiting_approval
              * 7: document.approved
              * 8: document.rejected
              * 9: document.waiting_pay
              * 10: document.paid
              * 11: document.voided
              * 12: document.declined
              * 13: document.external_review
        - name: tag
          in: query
          schema:
            type: string
          description: Search tag. Filter by document tag.
          example: tag_1
        - name: template_id
          in: query
          schema:
            type: string
          description: Specify the template used for documents creation. Parameter can't be used with form_id.
          example: BhVzRcxH9Z2LgfPPGXFUBa
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentListResponse'
              examples:
                Default order by date_status_changed:
                  value:
                    results:
                      - id: XjV64iXRJMerjSpk428QSF
                        name: Sample Document
                        status: document.draft
                        date_created: '2024-07-02T16:21:35.770196Z'
                        date_modified: '2024-07-02T16:21:37.696724Z'
                        expiration_date: null
                        version: '2'
                      - id: 6NbHUUu6uuYN2tqJvgtf9h
                        name: Services Invoice
                        status: document.completed
                        date_created: '2024-01-25T15:35:27.186107Z'
                        date_modified: '2024-06-21T15:07:34.192101Z'
                        expiration_date: '2024-08-20T15:07:32.869161Z'
                        version: '2'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  type:
                    type: string
                  detail:
                    type: object
              examples:
                Non field error:
                  value:
                    type: request_error
                    detail:
                      non_field_errors:
                        - Either template_id or form_id should be added to query.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
    post:
      tags:
        - Documents
      summary: Create Document
      description: |
        ## Create from a template
        > See the [Create document from template](https://developers.pandadoc.com/docs/create-document-from-template) tutorial for details on how to use this endpoint, as well as a sample template.

        ## Create from a URL
        > See the [Create from public PDF](https://developers.pandadoc.com/docs/create-and-send-a-document-from-a-publicly-available-pdf) guide for info about roles and fields, as well as PDF examples.
      operationId: createDocument
      parameters:
        - name: editor_ver
          in: query
          deprecated: true
          schema:
            type: string
          example: ev2
          description: Set this parameter as `ev1` if you want to create a document from PDF with Classic Editor when both editors are enabled for the workspace.
        - name: use_form_field_properties
          in: query
          schema:
            type: string
          example: 'true'
          description: 'Set this parameter as `yes` or `1` or `true` (only when upload pdf with form fields) if you want to  respect form fields properties, like `required`.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentCreateRequest'
            examples:
              Simple API Sample:
                summary: Simple API Sample Document from PandaDoc Template
                value:
                  name: Simple API Sample Document from PandaDoc Template
                  template_uuid: onoznwTq4Y3EELMPyvucnc
                  recipients:
                    - email: josh@example.com
                      first_name: Josh
                      last_name: Ron
                      role: user
                      phone: 555-5555-5555
                      signing_order: 1
                      company: PandaDoc
                      default: false
                      delivery_methods:
                        sms: true
                        email: false
                      redirect:
                        is_enabled: true
                        url: 'https://super.redirect.url/1'
                      verification_settings:
                        verification_place: before_open
                        passcode_verification: null
                        phone_verification: null
                        kba_verification: null
                        id_verification:
                          enabled: true
                  tokens:
                    - name: Favorite.Pet
                      value: Panda
                  fields:
                    Favorite.Color:
                      value: PandaDoc green
                    Delivery:
                      value: Same Day Delivery
                    Like:
                      value: true
                    Date:
                      value: '2019-12-31T00:00:00.000Z'
                  metadata:
                    my_favorite_pet: Panda
                  tags:
                    - created_via_api
                    - test_document
                  images:
                    - name: Image 1
                      urls:
                        - 'https://s3.amazonaws.com/pd-static-content/public-docs/pandadoc-panda-bear.png'
                  pricing_tables:
                    - name: Pricing Table 1
                      data_merge: true
                      options:
                        Tax:
                          type: percent
                          name: Tax
                          value: 10
                      sections:
                        - title: Sample Section
                          default: true
                          rows:
                            - options:
                                optional: true
                                optional_selected: true
                                qty_editable: true
                              data:
                                Name: Toy Panda
                                Description: Fluffy!
                                Price: 10
                                QTY: 3
                                Tax:
                                  value: 20
                                  type: percent
                              custom_fields:
                                Fluffiness: 5 / 5
              Full API Sample:
                summary: Full API Sample Document from PandaDoc Template
                value:
                  name: 'Full API Sample Document from [PandaDoc] Template'
                  detect_title_variables: true
                  template_uuid: hryJY9mqYZHjQCYQuSjRQg
                  folder_uuid: QMDSzwabfFzTgjW4kUijqQ
                  owner:
                    membership_id: QMDSzwabfFzTgjW6KijHyu
                  recipients:
                    - email: josh@example.com
                      first_name: Josh
                      last_name: Ron
                      role: user
                  tokens:
                    - name: Favorite.Pet
                      value: Panda
                  fields:
                    Favorite.Color:
                      value: PandaDoc green
                    Delivery:
                      value: Same Day Delivery
                    Like:
                      value: true
                    Date:
                      value: '2019-12-31T00:00:00.000Z'
                  metadata:
                    my_favorite_pet: Panda
                  tags:
                    - created_via_api
                    - test_document
                  images:
                    - name: Image 1
                      urls:
                        - 'https://s3.amazonaws.com/pd-static-content/public-docs/pandadoc-panda-bear.png'
                  pricing_tables:
                    - name: Pricing Table 1
                      data_merge: true
                      options:
                        Tax:
                          type: percent
                          name: Tax
                          value: 10
                      sections:
                        - title: Sample Section
                          default: true
                          rows:
                            - options:
                                optional: true
                                optional_selected: true
                                qty_editable: true
                              data:
                                Name: Toy Panda
                                Description: Fluffy!
                                Price: 10
                                QTY: 3
                                Tax:
                                  value: 20
                                  type: percent
                              custom_fields:
                                Fluffiness: 5 / 5
                  tables:
                    - name: Table 1
                      data:
                        sections:
                          - header:
                              - text: header 1
                              - text: header 2
                            rows:
                              - - text: value 1
                                - text: value 2
                              - - text: value 3
                                - text: value 4
                  content_placeholders:
                    - block_id: '{block_id}'
                      content_library_items:
                        - id: '{cli_id}'
                          pricing_tables:
                            - name: Pricing Table 1
                              data_merge: false
                              options:
                                discount:
                                  type: absolute
                                  name: Discount
                                  value: 2.26
                              sections:
                                - title: Sample Section
                                  default: true
                                  rows:
                                    - options:
                                        optional: true
                                        optional_selected: true
                                        qty_editable: true
                                      data:
                                        name: Placeholder Panda
                                        price: 10
                                        qty: 3
                        - id: '{cli_id_2}'
                          recipients:
                            - email: john@example.com
                              first_name: John
                              last_name: Roe
                              role: Signer
                              signing_order: 2
                          fields:
                            Date:
                              value: '2019-12-31T00:00:00.000Z'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentCreateResponse'
              examples:
                Document from Template:
                  value:
                    id: D3okRfgHRX7NEhavcACReB
                    name: Document from Template
                    status: document.uploaded
                    date_created: '2024-07-04T19:27:14.927317Z'
                    date_modified: '2024-07-04T19:27:14.927317Z'
                    expiration_date: null
                    version: null
                    uuid: D3okRfgHRX7NEhavcACReB
                    links:
                      - rel: status
                        href: 'https://api.pandadoc.com/public/v1/documents/D3okRfgHRX7NEhavcACReB'
                        type: GET
                    info_message: You need to poll the Document Status method until the status will be changed to document.draft
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  /public/v1/documents?upload:
    post:
      tags:
        - Documents
      summary: Create Document from File Upload
      description: |
        ## Create from an upload
        > See the [Create from PDF](https://developers.pandadoc.com/docs/create-document-from-file) tutorial for the usage specifics and sample PDF files.

        **Note**: A file you upload is not stored in your PandaDoc account, so you have to upload it with every request.
      operationId: createDocumentFromUpload
      parameters:
        - name: editor_ver
          in: query
          deprecated: true
          schema:
            type: string
          example: ev2
          description: Set this parameter as `ev1` if you want to create a document from PDF with Classic Editor when both editors are enabled for the workspace.
        - name: use_form_field_properties
          in: query
          schema:
            type: string
          example: 'true'
          description: 'Set this parameter as `yes` or `1` or `true` (only when upload pdf with form fields) if you want to  respect form fields properties, like `required`.'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: Binary PDF File
                data:
                  $ref: '#/components/schemas/DocumentCreateByPdfRequest'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentCreateResponse'
              examples:
                Document from Template:
                  value:
                    id: D3okRfgHRX7NEhavcACReB
                    name: Document from Template
                    status: document.uploaded
                    date_created: '2024-07-04T19:27:14.927317Z'
                    date_modified: '2024-07-04T19:27:14.927317Z'
                    expiration_date: null
                    version: null
                    uuid: D3okRfgHRX7NEhavcACReB
                    links:
                      - rel: status
                        href: 'https://api.pandadoc.com/public/v1/documents/D3okRfgHRX7NEhavcACReB'
                        type: GET
                    info_message: You need to poll the Document Status method until the status will be changed to document.draft
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401'
        '429':
          $ref: '#/components/responses/429'
  '/public/v1/documents/{id}':
    get:
      tags:
        - Documents
      summary: Document Status
      operationId: statusDocument
      description: "It is useful to request document status to ensure a document is in the expected state before calling additional API methods. \n\n### Required Document Statuses\n\nHere are some common methods and the `document.status` required to proceed:\n\n| API Method           | Required Document State |\n| :------------------- | :---------------------- |\n| Send A Document      | `document.draft`        |\n| Get Document Details | `document.draft`        |\n| Embed A Document     | `document.sent`         |\n| Download A Document  | `document.completed`    |\n\n> \U0001F4D8 Polling vs Webhooks\n> \n> If you are using the `GET` document status endpoint for [**polling**](https://en.wikipedia.org/wiki/Polling_(computer_science)), we also support and recommend using **webhooks** for event-driven needs: <https://developers.pandadoc.com/reference/on-document-status-change>\n\n### Available Document Statuses\n\nThe following is a complete list of all possible document statuses returned:\n\n| Document Status             | Status Description                                                                                                                                                                                                               |\n| :-------------------------- | :------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- |\n| `document.uploaded`         | The document has just been created or uploaded. It is in processing and will be in `document.draft` state momentarily.                                                                                                           |\n| `document.draft`            | The document is in a draft state. All aspects of the document can be edited in this state. Our API does not support edits after the document has been created, but it can still be edited manually on <https://app.pandadoc.com> |\n| `document.sent`             | The document has been \"sealed\" and optionally sent. No further document edits can occur except for document recipient(s) filling out or signing the document.                                                                    |\n| `document.viewed`           | Document recipient(s) have viewed the sent document.                                                                                                                                                                             |\n| `document.waiting_approval` | The document has an [automatic approval workflow](https://support.pandadoc.com/hc/en-us/articles/360016122334--Editor-2-0-Approval-workflow) and has not yet been approved.                                                      |\n| `document.rejected`         | The document has an [automatic approval workflow](https://support.pandadoc.com/hc/en-us/articles/360016122334--Editor-2-0-Approval-workflow) and was rejected.                                                                   |\n| `document.approved`         | The document has an [automatic approval workflow](https://support.pandadoc.com/hc/en-us/articles/360016122334--Editor-2-0-Approval-workflow) and was approved.                                                                   |\n| `document.waiting_pay`      | The document has a [Stripe payment](https://support.pandadoc.com/hc/en-us/articles/360017806894--Editor-2-0-Stripe) option and is awaiting payment.                                                                              |\n| `document.paid`             | The document has a [Stripe payment](https://support.pandadoc.com/hc/en-us/articles/360017806894--Editor-2-0-Stripe) option and was paid.                                                                                         |\n| `document.completed`        | The document has been completed by all recipients.                                                                                                                                                                               |\n| `document.voided`           | The document expired and is no longer available for completion or signature.                                                                                                                                                     |\n| `document.declined`         | The document was [manually marked](https://support.pandadoc.com/hc/en-us/articles/360041879753-Manually-change-document-status) as \"Declined\"                                                                                    |\n| `document.external_review`  | The document is reviewed by it's recipient using Suggest Edit feature                                                                                                                                                            |\n"
      parameters:
        - examples:
            Document processing after create:
              value: fANp5wW5EwY7AkiTkTGekZ
            Document in draft:
              value: XjV64iXRJMerjSpk428QSF
          name: id
          in: path
          schema:
            type: string
          required: true
          description: Specify document ID.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentStatusResponse'
              examples:
                Document processing after create:
                  value:
                    id: fANp5wW5EwY7AkiTkTGekZ
                    name: Document from file
                    status: document.uploaded
                    date_created: '2024-07-02T16:21:57.510203Z'
                    date_modified: '2024-07-02T16:21:57.708251Z'
                    expiration_date: null
                    version: null
                    uuid: fANp5wW5EwY7AkiTkTGekZ
                Document in draft:
                  value:
                    id: XjV64iXRJMerjSpk428QSF
                    name: Document from template
                    status: document.draft
                    date_created: '2024-03-19T12:59:52.848666Z'
                    date_modified: '2024-03-19T12:59:53.957830Z'
                    date_completed: null
                    expiration_date: null
                    version: '2'
                    uuid: XjV64iXRJMerjSpk428QSF
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
    delete:
      tags:
        - Documents
      summary: Delete Document
      operationId: deleteDocument
      description: |
        Delete a document by ID.
      parameters:
        - examples:
            Delete document:
              value: BhVzRcxH9Z2LgfPPGXFUBa
          name: id
          description: Document ID
          in: path
          schema:
            type: string
          required: true
      responses:
        '204':
          description: No content
        '404':
          $ref: '#/components/responses/404'
    patch:
      tags:
        - Documents
      summary: Update Document
      operationId: updateDocument
      description: "Use the PATCH method to update a PandaDoc document.\n\n> \U0001F6A7 Document status\n> \n> You can only update a document in the Draft status (`document.draft`). \n> \n> After creating a new document, it usually retains a `document.uploaded` status for 3-5 seconds while the document syncs across PandaDoc servers. When the document is available for further API calls, the document moves to the `document.draft` state. Use [Document Status](https://developers.pandadoc.com/reference/document-status) or Webhooks to check document status.\n"
      parameters:
        - examples:
            Update document:
              value: BhVzRcxH9Z2LgfPPGXFUBa
          name: id
          description: Document ID
          in: path
          schema:
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentUpdateRequest'
      responses:
        '204':
          description: No content
        '400':
          $ref: '#/components/responses/400RequestError'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
  '/public/v1/documents/{id}/status':
    patch:
      tags:
        - Documents
      summary: Document Status Change
      operationId: changeDocumentStatus
      description: "PandaDoc has eight document statuses, but you can manually set your document status to only four:\n\n### Document statuses\n\n- Completed - `document.completed` - API code `2`\n- Expired - `document.voided` - code `11`\n- Paid - `document.paid` - code `10`. **Important**: You can only set it if you have a payment app connected.\n- Declined - `document.declined` - code `12`\n\n> \U0001F6A7 Pass a numeric code for the corresponding document status, for example, `2` for `document.completed`.\n\nFind more details in [\\[Editor 2.0\\] Manually change document status](https://support.pandadoc.com/en/articles/9714842-manually-change-document-status) topic.\n\n| Current Status | To Completed: | To Expired: | To Paid: | To Declined: |\n|----------------|---------------|-------------|----------|--------------|\n| Draft          | YES           | NO          | YES      | YES          |\n| Approved       | NO            | NO          | NO       | NO           |\n| Sent           | YES           | YES         | NO       | YES          |\n| Viewed         | YES           | YES         | NO       | YES          |\n| Completed (Auto) | NO          | NO          | NO       | YES          |\n| Waithing for payment | NO      | NO          | YES      | YES          |\n| Paid           | NO            | NO          | NO       | NO           |\n| Expired        | YES           | NO          | YES      | YES          |\n| Declined       | YES           | NO          | YES      | NO           |\n\n> ✅ - from `document.voided` to `document.paid`\n>\n> ❌ - from `document.paid` to `document.voided`\n"
      parameters:
        - examples:
            Mark as Decline:
              value: iGsFiaV2hEEvQdhr2WAkMk
            Mark as Completed:
              value: iGsFiaV2hEEvQdhr2WAkMk
            Mark as Expired:
              value: iGsFiaV2hEEvQdhr2WAkMk
            Mark as Paid:
              value: iGsFiaV2hEEvQdhr2WAkMk
          name: id
          in: path
          schema:
            type: string
          required: true
          description: Specify document ID.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentStatusChangeRequest'
            examples:
              Mark as Decline:
                value:
                  status: 12
                  note: Change status to Decline
                  notify_recipients: false
              Mark as Completed:
                value:
                  status: 2
                  note: Change status to Completed
                  notify_recipients: false
              Mark as Expired:
                value:
                  status: 11
                  note: Change status to Expired
                  notify_recipients: false
              Mark as Paid:
                value:
                  status: 10
                  note: Change status to Paid
                  notify_recipients: false
      responses:
        '204':
          description: No content
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '429':
          $ref: '#/components/responses/429'
  '/public/v1/documents/{id}/status?upload':
    patch:
      tags:
        - Documents
      summary: Document Status Change with Upload
      operationId: changeDocumentStatusWithUpload
      description: "PandaDoc has eight document statuses, but you can manually set your document status to only four:\n\n### Document statuses\n\n- Completed - `document.completed` - API code `2`\n- Expired - `document.voided` - code `11`\n- Paid - `document.paid` - code `10`. **Important**: You can only set it if you have a payment app connected.\n- Declined - `document.declined` - code `12`\n\n> \U0001F6A7 Pass a numeric code for the corresponding document status, for example, `2` for `document.completed`.\n\nFind more details in [\\[Editor 2.0\\] Manually change document status](https://support.pandadoc.com/en/articles/9714842-manually-change-document-status) topic.\n\n| Current Status | To Completed: | To Expired: | To Paid: | To Declined: |\n|----------------|---------------|-------------|----------|--------------|\n| Draft          | YES           | NO          | YES      | YES          |\n| Approved       | NO            | NO          | NO       | NO           |\n| Sent           | YES           | YES         | NO       | YES          |\n| Viewed         | YES           | YES         | NO       | YES          |\n| Completed (Auto) | NO          | NO          | NO       | YES          |\n| Waithing for payment | NO      | NO          | YES      | YES          |\n| Paid           | NO            | NO          | NO       | NO           |\n| Expired        | YES           | NO          | YES      | YES          |\n| Declined       | YES           | NO          | YES      | NO           |\n\n> ✅ - from `document.voided` to `document.paid`\n>\n> ❌ - from `document.paid` to `document.voided`\n"
      parameters:
        - examples:
            Mark as Decline:
              value: iGsFiaV2hEEvQdhr2WAkMk
            Mark as Completed:
              value: iGsFiaV2hEEvQdhr2WAkMk
            Mark as Expired:
              value: iGsFiaV2hEEvQdhr2WAkMk
            Mark as Paid:
              value: iGsFiaV2hEEvQdhr2WAkMk
          name: id
          in: path
          schema:
            type: string
          required: true
          description: Specify document ID.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: Binary attachment file
                data:
                  allOf:
                    - $ref: '#/components/schemas/DocumentStatusChangeRequest'
                    - description: JSON as a multipart/form-data string.
      responses:
        '204':
          description: No content
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '429':
          $ref: '#/components/responses/429'
  '/public/v1/documents/{id}/draft':
    post:
      tags:
        - Documents
      summary: Move Document to Draft
      operationId: documentRevertToDraft
      description: "Revert your document back to draft to continue editing it.\n\n> \U0001F4D8 Returning to Draft works for any document status except Removed.\n\n## After you move your document to the Draft status\n\n- `Signature` and `Initials` fields are cleared. All other fields stay filled in.\n- Recipients are **not** notified that the document is back in Draft.\n- You'll need to resend the document so that recipients can sign the updated version.\n"
      parameters:
        - examples:
            Move to Draft:
              value: iGsFiaV2hEEvQdhr2WAkMk
          name: id
          in: path
          schema:
            type: string
          required: true
          description: Specify document ID.
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  status:
                    type: string
                  date_created:
                    type: string
                  date_modified:
                    type: string
                  expiration_date:
                    type: string
                    nullable: true
                  version:
                    type: string
              examples:
                Move to Draft:
                  value:
                    id: msFYActMfJHqNTKH8YSvF1
                    name: Document
                    status: document.draft
                    date_created: '2017-08-06T08:42:13.836022Z'
                    date_modified: '2017-09-04T02:21:13.963750Z'
                    expiration_date: null
                    version: '2'
  '/public/v1/documents/{id}/details':
    get:
      tags:
        - Documents
      summary: Document Details
      operationId: detailsDocument
      description: |
        Return detailed data about a document. Use Document Status for getting just a basic info and status.

        Get details about a document by its `id`. Details include:

        - Basic document information (name, document state, owner, sender, grand total, etc.)
        - Recipients (completion status, signing order, etc.)
        - Fields with values (incl. Collect Files field)
        - Tokens (variables) with values
        - Pricing information (pricing tables, products, quotes, etc.)
        - Metadata
        - Tags
        - Linked objects
        - [Approval flow](https://support.pandadoc.com/hc/en-us/articles/360016122334-Approval-workflow#h_01H4GNY5GSGG38BPYY46XV7GB4) (if present)
        - Timestamps associated with a document. Note that `date_modified` means any changes associated with the recipients and document status, while `content_date_modified` reflects any changes in the document content.
      parameters:
        - examples:
            Document from empty template:
              value: BhVzRcxH9Z2LgfPPGXFUBa
            API Sample Document from PandaDoc template:
              value: PeePkgJLFT2UittjVdEyYG
            Completed Document Details:
              value: f9CbJKS4ZAs6nU629cuowb
          name: id
          description: Document ID
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentDetailsResponse'
              examples:
                Completed Document Details:
                  value:
                    approval_execution: null
                    content_date_modified: '2024-07-08T15:43:54.194562Z'
                    linked_objects: []
                    date_completed: '2024-07-08T15:43:53.877522Z'
                    id: f9CbJKS4ZAs6nU629cuowb
                    name: Digital Marketing Proposal
                    autonumbering_sequence_name_prefix: null
                    date_created: '2024-07-08T15:36:09.600947Z'
                    date_modified: '2024-07-08T15:43:53.918819Z'
                    date_sent: '2024-07-08T15:41:23.351853Z'
                    ref_number: MTMJR-FEUQB-ECEWW-3WVZP
                    created_by:
                      id: FA5QAu8UGA3oVDQZuPL75B
                      email: pandaDoc@pandadoc.com
                      first_name: Panda
                      last_name: Doc
                      avatar: null
                      membership_id: RyMNXBjBPRppw56TfYBrXi
                    template:
                      id: gZRVmyHiQV5riXSCMKsku2
                      name: Sample Template
                    expiration_date: '2024-09-06T15:43:36.297737Z'
                    metadata:
                      document__created_via_public_api: 'true'
                      document__creation_source: public api
                    tokens: []
                    fields:
                      - uuid: f03e22f3-b3a8-4783-8b26-e43880ef87bf
                        name: Signature
                        title: ''
                        value: {}
                        placeholder: Signature
                        assigned_to:
                          id: 8KAZvGRL3W4u44a4fyDoeH
                          first_name: Recipient First Name
                          last_name: Recipient Last Name
                          email: test@pandadoc.com
                          phone: ''
                          recipient_type: signer
                          has_completed: true
                          role: Client
                          roles:
                            - Client
                          signing_order: null
                          delivery_methods:
                            sms: false
                            email: true
                          redirect:
                            is_enabled: false
                            url: null
                          type: recipient
                        field_id: signature_f03e22f3-b3a8-4783-8b26-e43880ef87bf
                        type: signature
                    pricing: {}
                    tags:
                      - tag1
                    status: document.completed
                    recipients:
                      - id: 8KAZvGRL3W4u44a4fyDoeH
                        first_name: Recipient First Name
                        last_name: Recipient Last Name
                        email: test@pandadoc.com
                        phone: ''
                        recipient_type: signer
                        has_completed: true
                        role: Client
                        roles:
                          - Client
                        signing_order: null
                        delivery_methods:
                          sms: false
                          email: true
                        redirect:
                          is_enabled: false
                          url: null
                        contact_id: HzXnuyNraSXMhXchYjUmHJ
                        shared_link: 'https://app.pandadoc.com/document/15d4b481384b652a298530ddc7023bfc07a67d59'
                        signature_date: '2024-07-08T15:43:53.800135Z'
                        verification_settings:
                          verification_place: before_open
                          kba_verification: null
                          passcode_verification: null
                          phone_verification: null
                          id_verification:
                            enabled: true
                        type: recipient
                    sent_by:
                      id: FA5QAu8UGA3oVDQZuPL75B
                      email: pandadoc@pandadoc.com
                      first_name: Panda
                      last_name: Doc
                      avatar: null
                    grand_total:
                      amount: '0'
                      currency: EUR
                    version: '2'
                Document from empty template:
                  value:
                    approval_execution: null
                    content_date_modified: '2024-07-05T07:21:42.429978Z'
                    linked_objects: []
                    date_completed: null
                    id: VFU2v7oq3ZiKCHD936eoHg
                    name: Document from empty Template
                    autonumbering_sequence_name_prefix: null
                    date_created: '2024-07-05T07:21:41.984654Z'
                    date_modified: '2024-07-05T07:21:42.409797Z'
                    date_sent: null
                    ref_number: MTMJR-FEUQB-ECEWW-3WVZP
                    created_by:
                      id: bgx5MR7LiR3f9MQtt4MWYM
                      email: siarhei.soroka@pandadoc.com
                      first_name: Siarhei
                      last_name: Soroka
                      avatar: 'https://avatars.pandadoc-static.com/users/bgx5MR7LiR3f9MQtt4MWYM/avatar.jpeg'
                      membership_id: nYNQTypQfNEnrcVR7VAzWQ
                    template:
                      id: bonjUYEwp8TtHmEnrEy7kZ
                      name: Sample Template
                    expiration_date: null
                    metadata:
                      document__creation_source: public api
                      document__created_via_public_api: 'true'
                    tokens: []
                    fields: []
                    pricing: {}
                    tags: []
                    status: document.draft
                    recipients: []
                    sent_by: null
                    grand_total:
                      amount: '0'
                      currency: USD
                    version: '2'
                API Sample Document from PandaDoc template:
                  value:
                    id: 7kqXgjFejB2toXxjcC5jfZ
                    name: API Sample Document from PandaDoc Template
                    autonumbering_sequence_name_prefix: {}
                    date_created: '2021-10-23T21:07:04.147Z'
                    date_modified: '2021-10-23T21:07:04.147Z'
                    date_completed: '2021-10-23T21:07:04.147Z'
                    content_date_modified: '2021-10-23T21:07:04.147Z'
                    date_sent: null
                    ref_number: MTMJR-FEUQB-ECEWW-3WVZP
                    created_by:
                      id: 7kqXgjFejB2toXxjcC5jfZ
                      membership_id: 7kqXgjFejB2toXxjcC5jfZ
                      email: teset@test.test
                      first_name: Jhon
                      last_name: Dow
                      avatar: 'https://pd-live-media.s3.amazonaws.com/users/000GTSGwJw000L2KZqc000/avatar.jpg'
                    template:
                      id: hryJY9mqYZHjQCYQuSjRQg
                      name: Upload test
                    expiration_date: null
                    metadata:
                      document__created_via_public_api: 'true'
                      my_favorite_pet: Panda
                      opp_id: '1234567'
                    tokens:
                      - name: Document.GrandTotal
                        value: $29.99
                      - name: Favorite.Pet
                        value: Panda
                    fields:
                      - uuid: f9574c3b-5b1e-4479-b2c9-c3ccd92748f3
                        name: Click to upload a file
                        title: ''
                        placeholder: Click to upload a file
                        value:
                          name: file_name.pdf
                          url: 'https://uploadfields.pandadoc-static.com/collect_files/e7b082c2-395b-43c7-a24c-66bd1bbb5d2f/65af1f23-9d26-4622-8ff0-f406b3be27b8-file_name.pdf'
                        assigned_to:
                          id: Fx7CgaVgpGbJBgZ4i5oTx8
                          first_name: John
                          last_name: Roe
                          email: john@example.com
                          recipient_type: signer
                          has_completed: false
                          role: ''
                          roles:
                            - singer
                          type: recipient
                        field_id: CollectFile1
                        type: collect_file
                      - uuid: f9574c3b-5b1e-4479-b2c9-c3ccd92748f3
                        name: Favorite.Color
                        merge_field: Favorite.Color
                        title: Textfield
                        value: value
                        assigned_to:
                          id: Fx7CgaVgpGbJBgZ4i5oTx8
                          first_name: John
                          last_name: Roe
                          email: john@example.com
                          recipient_type: signer
                          has_completed: false
                          role: ''
                          roles: []
                          type: recipient
                        field_id: text1
                        type: text
                      - uuid: f9574c3b-5b1e-4479-b2c9-c3ccd92748f3
                        name: Like
                        merge_field: Like
                        title: Checkbox
                        value: true
                        assigned_to:
                          id: Fx7CgaVgpGbJBgZ4i5oTx8
                          first_name: John
                          last_name: Roe
                          email: john@example.com
                          recipient_type: signer
                          has_completed: false
                          role: ''
                          roles:
                            - signer
                          type: recipient
                        field_id: checkbox1
                        type: checkbox
                    pricing:
                      tables:
                        - name: Pricing Table
                          id: 065c5cbc-a065-4843-ba17-028e63779605
                          total: '11500'
                          is_included_in_total: true
                          summary:
                            subtotal: '11500'
                            total: '11500'
                            discount: '0'
                            tax: '0'
                          items:
                            - id: string
                              sku: string
                              qty: '10'
                              name: Annual license
                              cost: string
                              price: '100'
                              description: 1 year subscription
                              custom_fields: {}
                              custom_columns:
                                Images: ''
                                Cost: ''
                                Subtotal: ''
                              discount:
                                value: string
                                type: string
                              tax_first:
                                value: string
                                type: string
                              tax_second:
                                value: string
                                type: string
                              subtotal: '10000'
                              options: {}
                              sale_price: '1000'
                              taxes: {}
                              discounts: {}
                              fees: {}
                              merged_data:
                                custom_name: SomeName
                                custom_description: SomeCustomDescription
                                custom_price: '10.99'
                                custom_qty: '1.00'
                                custom_sku: Test
                                custom_tax:
                                  value: '10'
                                  type: percent
                                custom_fee:
                                  value: '10'
                                  type: percent
                                custom_discount:
                                  value: '10'
                                  type: percent
                                custom_text: Some other
                                Cost: null
                                Subtotal: '26.38'
                                fluffiness: Fluffiness
                                Other_field: SomeText
                          currency: USD
                      quotes:
                        - id: 4b011d86-286b-4f86-b697-90a6ad3f1489
                          currency: USD
                          total: '900'
                          summary:
                            total: '900'
                            subtotal: '1000'
                            one_time_subtotal: '500'
                            recurring_subtotal:
                              - billing_cycle: monthly
                                value: '500'
                            total_qty: string
                            discounts:
                              property1:
                                type: string
                                value: string
                              property2:
                                type: string
                                value: string
                            taxes: {}
                            fees: {}
                            custom_fields:
                              property1: string
                              property2: string
                            total_discount: '100'
                            total_tax: string
                            total_fee: string
                            total_savings: string
                            total_contract_value: '1900'
                          sections:
                            - id: string
                              name: string
                              summary:
                                total: '1000'
                                subtotal: '1000'
                                one_time_subtotal: '500'
                                recurring_subtotal:
                                  - billing_cycle: monthly
                                    value: '500'
                                total_qty: string
                                discounts: {}
                                taxes: {}
                                fees: {}
                                custom_fields:
                                  property1: string
                                  property2: string
                                total_section_value: '1900'
                              columns:
                                - header: string
                                  name: string
                                  merge_name: string
                                  hidden: string
                              items:
                                - id: string
                                  sku: string
                                  name: string
                                  description: string
                                  qty: '1'
                                  price: '500'
                                  cost: string
                                  billing_frequency: string
                                  contract_term: string
                                  pricing_method: string
                                  type: string
                                  reference_type: string
                                  options:
                                    selected: true
                                    qty_editable: true
                                  custom_columns:
                                    property1: string
                                    property2: string
                                  discounts:
                                    property1:
                                      type: string
                                      value: string
                                    property2:
                                      type: string
                                      value: string
                                  taxes:
                                    property1:
                                      type: string
                                      value: string
                                    property2:
                                      type: string
                                      value: string
                                  fees:
                                    property1:
                                      type: string
                                      value: string
                                    property2:
                                      type: string
                                      value: string
                                  multipliers:
                                    property1: string
                                    property2: string
                                  total: string
                                  overall_total: '1000'
                              total: '1000'
                              settings:
                                optional: true
                                selected: true
                                selection_type: custom
                          merge_rules:
                            - id: string
                              enabled: true
                              action:
                                type: string
                                section_id: string
                              condition:
                                field_name: string
                                type: string
                                comparison:
                                  - type: string
                                    value: string
                          settings:
                            selection_type: custom
                      total: '11500'
                    version: '2'
                    tags:
                      - tag1
                      - tag2
                    sent_by: null
                    recipients:
                      - recipient_type: CC
                        role: ''
                        roles:
                          - user
                        last_name: Dow
                        signing_order: null
                        id: 7kqXgjFejB2toXxjcC5jfZ
                        contact_id: 7kqXgjFejB2toXxjcC5jfZ
                        first_name: Jhon
                        email: test@test.com
                        has_completed: true
                        shared_link: 'https://app.pandadoc.com/document/b7f11ea3c09d1c11208cc122457d4f3a2829d364'
                        verification_settings:
                          verification_place: before_open
                          passcode_verification:
                            passcode: SimpleCode1
                          kba_verification: null
                          id_verification: 'null,'
                          phone_verification: null
                        signature_date: '2021-10-23T21:07:04.147Z'
                    grand_total:
                      amount: '29.99'
                      currency: USD
                    linked_objects:
                      - provider: hubspot
                        entity_type: deal
                        entity_id: '18640'
                        id: ea88ed1dc8094dd3a57754aa643a1954
                    status: document.draft
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '429':
          $ref: '#/components/responses/429'
  '/public/v1/documents/{id}/send':
    post:
      tags:
        - Documents
      summary: Send Document
      operationId: sendDocument
      description: "> \U0001F6A7 Using the Sandbox Key\n> \n> When you use a [sandbox API key](https://developers.pandadoc.com/reference/sandbox-key) during the free trial period, the sender and recipient email addresses must be from the same organisation (email domain).\n\n## Document State\n\n- You can only send a document in the `document.draft` status.\n- After creating a new document, it usually retains a `document.uploaded` status for 3-5 seconds while the document syncs across PandaDoc servers. When the document is available for further API calls, it moves to the `document.draft` state. Use [Document Status](/reference/document-status) or [Webhooks](/reference/on-document-status-change) to check document status.\n- Moving a document to the `document.sent` status finalizes the document structure, before recipients can complete it.\n- If a template used for the document creation has an approval workflow turned on, the sent document moves to the `document.waiting_approval` status. Once the document is approved, you need to make the call again to move the document to `document.sent` status.\n\n## Send and Silence Notifications\n\n- By default, PandaDoc sends a `document.sent` notification email to the recipient as well as any internal notifications the sender has opted for. This can be bypassed by passing `silent: true`. Using this will suppress sent, viewed, comment and completed document notifications. This is useful when you are using alternative delivery methods such as linking to the document or embedding the document.\n- The `silent: true` parameter disables sent, viewed, comment and completed document email notifications. \"Document Approval\" notification won't be affected by this parameter.\n- When opting to send an email, passing the optional `message` attribute will result in an email like the following. At this time, you cannot customize the email beyond the user avatar. If you wish to perform any additional customization, we recommend generating view session links and using your own email distribution methods.\n\n![Example email. Branding can be changed in workspace settings](https://files.readme.io/cc5a03e-email2.png)\n\n## Select Approver from Group\n\nIf you have previously set up an approval workflow with selectable groups on the UI, you can select a particular approver from this group. Learn more about [selectable groups](https://support.pandadoc.com/hc/en-us/articles/360016122334-Approval-workflow#h_01H4GNY5GSGG38BPYY46XV7GB4).  \nTo set an approver, we recommend to follow these steps:\n\n1. Run the [Document Details](https://developers.pandadoc.com/reference/document-details) request.\n2. Copy the `steps` part from the `approval_execution` section of the response into the `selected_approvers` field of the Send Document payload.\n3. Modify your payload according to business needs: set `is_selected` to true for one approver.\n\n> \U0001F4D8 **Note**: You can change the selected approver only if you revert your document back to the `document.draft` status.\n"
      parameters:
        - name: id
          description: Document ID
          in: path
          schema:
            type: string
          required: true
          example: ZPeAfcpzr9aiVs5vqUf6jg
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentSendRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentSendResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '429':
          $ref: '#/components/responses/429'
  '/public/v1/documents/{id}/editing-session':
    post:
      summary: Create Document Editing Session
      description: Create a new editing session for a document. The session contains E-Token.
      operationId: createDocumentEditingSession
      tags:
        - Documents
      parameters:
        - name: id
          in: path
          description: Document ID
          schema:
            type: string
          required: true
          example: pSgK5XYZjyg3zXYZxsoUWg
      requestBody:
        required: true
        content:
          application/json:
            examples:
              Default:
                value:
                  email: john.doe@pandadoc.com
                  lifetime: 100
            schema:
              $ref: '#/components/schemas/EditingSessionRequest'
      responses:
        '201':
          description: Document Editing Session created
          content:
            application/json:
              examples:
                Default:
                  value:
                    id: ce9825e5-3210-4a8f-1230-f32b643295d2
                    email: john.doe@pandadoc.com
                    expires_at: '2025-01-10T00:09:09.612651Z'
                    key: 985b695b56eaaa571e9bb8e522afd5bd335c32d7
                    document_id: pSgK5XYZjyg3zXYZxsoUWg
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseEditingSessionResponse'
                  - type: object
                    properties:
                      document_id:
                        type: string
                        description: ID of the document
                        example: pSgK5XYZjyg3zXYZxsoUWg
        '400':
          description: Bad request
          content:
            application/json:
              examples:
                Default:
                  value:
                    type: request_error
                    detail:
                      lifetime:
                        - Ensure this value is greater than or equal to 60.
              schema:
                properties:
                  type:
                    type: string
                    example: request_error
                  detail:
                    type: object
                    example:
                      count:
                        - A valid integer is required.
                      order_by:
                        - value is not a valid choice.
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
  '/public/v1/documents/{id}/session':
    post:
      tags:
        - Documents
      summary: Create Document Session for Embedded Sign
      operationId: createDocumentLink
      description: "Create a document session for a recipient to view and sign a document. This endpoint returns a session ID that can be used to generate a document link for sharing.\n\n> \U0001F6A7 Document State\n> \n> You can generate an `id` only for documents in the `sent, waiting for payment, paid, and completed` statuses. In order to move a document to the `sent` status without actually sending any emails to recipients, use the [Send Document](/reference/send-document) endpoint with the `silent`: `true` parameter.\n> \n> If a document is in \"waiting_approval\", \"rejected\", or \"declined\" status, you can't use [Share Document](ref:share-document) call. Share Document endpoint will return HTTP 400 with an error.\n\n> \U0001F4D8 Generating a Document Link from the returned `id`\n> \n> The `id` this endpoint returns is a session id. Use this URL format to view a document:\n> \n> ```html\n> https://app.pandadoc.com/s/{id}/\n> ```\n\nWhen generating a document link, first we must request a `session ID` per the session endpoint above. Once the `session ID` is generated, it can then be placed in the URL format above for sharing.\n\n> \U0001F6A7 Lifetime Parameter\n> \n> We see the `lifetime` parameter often overlooked when generating a `session ID`. Make sure that you provide a `lifetime` value in seconds that is great enough for the recipient(s) to complete the shared document. We recommend values under 1 year for security purposes, e.g.: `\"lifetime\": 31535999`\n"
      parameters:
        - examples:
            Signing session:
              value: ZPeAfcpzr9aiVs5vqUf6jg
          name: id
          description: Document ID
          in: path
          schema:
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentCreateLinkRequest'
            examples:
              Signing session:
                value:
                  recipient: test@mail.com
                  lifetime: 900
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentCreateLinkResponse'
              examples:
                Signing session:
                  value:
                    id: nPh2PDhFdDqAES9k64h9qX
                    expires_at: '2024-07-01T08:03:57.536427Z'
        '400':
          $ref: '#/components/responses/400RequestError'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
  '/public/v1/documents/{id}/download':
    get:
      tags:
        - Documents
      summary: Document Download
      operationId: downloadDocument
      description: |
        Download documents as a PDF.
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
          description: Specify document ID.
          example: BhVzRcxH9Z2LgfPPGXFUBa
        - name: watermark_color
          in: query
          schema:
            type: string
          description: HEX code (for example `#FF5733`).
          example: '#FF5733'
        - name: watermark_font_size
          in: query
          schema:
            type: integer
          description: Font size of the watermark.
          example: 12
        - name: watermark_opacity
          in: query
          schema:
            type: number
            format: float
          description: In range 0.0-1.0
          example: 0.5
        - name: watermark_text
          in: query
          schema:
            type: string
          description: Specify watermark text.
          example: John Doe inc.
        - name: separate_files
          in: query
          schema:
            type: boolean
            default: false
          description: Download document bundle as a zip-archive of separate PDFs (1 file per section).
      responses:
        '200':
          description: OK
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/400RequestError'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '429':
          $ref: '#/components/responses/429'
  '/public/v1/documents/{id}/download-protected':
    get:
      tags:
        - Documents
      summary: Download Completed Document
      description: "Download a completed document as a verifiable PDF (Download Protected Document)\n> \U0001F6A7 Production key only\n> \n> This endpoint only works with a Production key. You'll get a 401 Unauthorized error when trying to use a Sandbox key.\n\nDownload a signed PDF of a completed document\n"
      operationId: downloadProtectedDocument
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
          description: Specify document ID.
          example: Mebvyy3NGsGBnY2rPLkH84
        - name: separate_files
          in: query
          schema:
            type: boolean
            default: false
          description: Download document bundle as a zip-archive of separate PDFs (1 file per section).
      responses:
        '200':
          description: OK
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '429':
          $ref: '#/components/responses/429'
  '/public/v1/documents/{id}/linked-objects':
    get:
      tags:
        - Documents
      summary: List Linked Objects
      operationId: listLinkedObjects
      description: |
        Get a list of linked objects for the document.
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
          description: Specify document ID.
          example: ZPeAfcpzr9aiVs5vqUf6jg
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkedObjectListResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '429':
          $ref: '#/components/responses/429'
    post:
      tags:
        - Documents
      summary: Create Linked Object
      operationId: createLinkedObject
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
          description: Specify document ID.
          example: ZPeAfcpzr9aiVs5vqUf6jg
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkedObjectCreateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkedObjectCreateResponse'
        '400':
          $ref: '#/components/responses/400RequestError'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
  '/public/v1/documents/{id}/linked-objects/{linked_object_id}':
    delete:
      tags:
        - Documents
      summary: Delete Linked Object
      operationId: deleteLinkedObject
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
          description: Specify document ID.
          example: ZPeAfcpzr9aiVs5vqUf6jg
        - name: linked_object_id
          in: path
          schema:
            type: string
          required: true
          description: Specify linked object ID.
          example: deb0d530-d759-4189-a422-8d2265e01b2e
      responses:
        '204':
          description: No content
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '429':
          $ref: '#/components/responses/429'
  '/public/v1/documents/{id}/attachments':
    get:
      summary: Document Attachment List
      description: Return list of objects attached to particular document
      operationId: listDocumentAttachments
      tags:
        - Document Attachments
      parameters:
        - name: id
          in: path
          description: Document UUID
          schema:
            type: string
          required: true
          example: BhVzRcxH9Z2LgfPPGXFUBa
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DocumentAttachmentResponse'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '429':
          $ref: '#/components/responses/429'
    post:
      summary: Document Attachment Create
      description: Creates an attachment for a particular document
      operationId: createDocumentAttachment
      tags:
        - Document Attachments
      parameters:
        - name: id
          in: path
          description: Document UUID
          schema:
            type: string
          required: true
          example: BhVzRcxH9Z2LgfPPGXFUBa
      requestBody:
        required: true
        description: Uploads attachment to document by using Multipart Form Data
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/DocumentAttachmentRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentAttachmentResponse'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
  '/public/v1/documents/{id}/attachments/{attachment_id}':
    get:
      summary: Document Attachment Details
      description: Returns details of the specific document's attachment
      operationId: detailsDocumentAttachment
      tags:
        - Document Attachments
      parameters:
        - name: id
          in: path
          description: Document UUID
          schema:
            type: string
          required: true
          example: BhVzRcxH9Z2LgfPPGXFUBa
        - name: attachment_id
          in: path
          description: Attachment UUID
          schema:
            type: string
          required: true
          example: 89ce2f49-10fb-4e9b-b5f3-e28be2a5c042
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentAttachmentResponse'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '429':
          $ref: '#/components/responses/429'
    delete:
      summary: Document Attachment Delete
      description: Deletes specific document's attachment
      operationId: deleteDocumentAttachment
      tags:
        - Document Attachments
      parameters:
        - name: id
          in: path
          description: Document UUID
          schema:
            type: string
          required: true
          example: BhVzRcxH9Z2LgfPPGXFUBa
        - name: attachment_id
          in: path
          description: Attachment UUID
          schema:
            type: string
          required: true
          example: 89ce2f49-10fb-4e9b-b5f3-e28be2a5c042
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
  '/public/v1/documents/{id}/attachments/{attachment_id}/download':
    get:
      summary: Document Attachment Download
      description: Returns document attachment file for download
      operationId: downloadDocumentAttachment
      tags:
        - Document Attachments
      parameters:
        - name: id
          in: path
          description: Document UUID
          schema:
            type: string
          required: true
          example: BhVzRcxH9Z2LgfPPGXFUBa
        - name: attachment_id
          in: path
          description: Attachment UUID
          schema:
            type: string
          required: true
          example: 89ce2f49-10fb-4e9b-b5f3-e28be2a5c042
      responses:
        '200':
          description: OK
          content:
            application/*:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '429':
          $ref: '#/components/responses/429'
  '/public/v1/documents/{id}/fields':
    get:
      summary: List Document Fields
      description: Return the list of fields for a particular document
      operationId: listDocumentFields
      tags:
        - Document Fields
      parameters:
        - name: id
          in: path
          description: Document UUID
          schema:
            type: string
          required: true
          example: BhVzRcxH9Z2LgfPPGXFUBa
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  fields:
                    type: array
                    items:
                      type: object
                      properties:
                        uuid:
                          type: string
                          format: uuid
                          nullable: false
                        name:
                          type: string
                        title:
                          type: string
                        value: {}
                        field_id:
                          type: string
                        type:
                          type: string
                          enum:
                            - text
                            - signature
                            - checkbox
                            - date
                            - dropdown
                            - stamp
                            - initials
                            - radio_buttons
                            - collect_file
                            - payment_details
                        placeholder:
                          type: string
                        assigned_to:
                          type: object
                          properties:
                            id:
                              type: string
                            first_name:
                              type: string
                            last_name:
                              type: string
                            email:
                              type: string
                            phone:
                              type: string
                            recipient_type:
                              type: string
                            has_completed:
                              type: boolean
                            signing_order: {}
                            delivery_methods: {}
                            redirect: {}
                            type:
                              type: string
                        layout:
                          $ref: '#/paths/~1public~1v1~1documents~1%7Bid%7D~1fields/post/requestBody/content/application~1json/schema/properties/fields/items/properties/layout'
                        section_uuid:
                          type: string
                          format: uuid
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '429':
          $ref: '#/components/responses/429'
    post:
      summary: Create Document Fields
      description: Creates fields for a particular document
      operationId: createDocumentFields
      tags:
        - Document Fields
      parameters:
        - name: id
          in: path
          description: Document UUID
          schema:
            type: string
          required: true
          example: BhVzRcxH9Z2LgfPPGXFUBa
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                fields:
                  type: array
                  items:
                    type: object
                    properties:
                      field_id:
                        type: string
                        description: Optional unique identifier.
                      type:
                        type: string
                        enum:
                          - text
                          - signature
                          - checkbox
                          - date
                          - dropdown
                          - stamp
                          - initials
                          - radio_buttons
                          - collect_file
                          - payment_details
                      placeholder:
                        type: string
                      assigned_to:
                        type: string
                        description: Optional uuid of a recipient.
                      layout:
                        type: object
                        properties:
                          page:
                            type: integer
                          position:
                            type: object
                            properties:
                              offset_x:
                                type: number
                              offset_y:
                                type: number
                              anchor_point:
                                type: string
                                enum:
                                  - topleft
                                  - topright
                                  - bottomleft
                                  - bottomright
                            required:
                              - offset_x
                              - offset_y
                              - anchor_point
                          style:
                            type: object
                            properties:
                              width:
                                type: integer
                              height:
                                type: integer
                            required:
                              - width
                              - height
                        required:
                          - page
                          - position
                          - style
                    required:
                      - type
                      - layout
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  fields:
                    type: array
                    items:
                      $ref: '#/paths/~1public~1v1~1documents~1%7Bid%7D~1fields/get/responses/200/content/application~1json/schema/properties/fields/items'
        '400':
          $ref: '#/components/responses/400ValidationError'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
  '/public/v1/documents/{id}/ownership':
    patch:
      tags:
        - Documents
      summary: Update document ownership
      operationId: transferDocumentOwnership
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
          description: Specify document ID.
          example: BhVzRcxH9Z2LgfPPGXFUBa
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentTransferOwnershipRequest'
      responses:
        '204':
          description: No content
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '429':
          $ref: '#/components/responses/429'
  /public/v1/documents/ownership:
    patch:
      tags:
        - Documents
      summary: Transfer all documents ownership
      operationId: transferAllDocumentsOwnership
      description: |
        This method transfers ownership of all documents from one member to another.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentTransferAllOwnershipRequest'
      responses:
        '204':
          description: No content
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
  '/public/v1/documents/{id}/move-to-folder/{folder_id}':
    post:
      tags:
        - Documents
      summary: Document move to folder
      operationId: documentMoveToFolder
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
          description: Specify document ID.
          example: ZPeAfcpzr9aiVs5vqUf6jg
        - name: folder_id
          in: path
          schema:
            type: string
          required: true
          description: Specify folder ID.
          example: ZPeAfcpzr9aiVs5vqUf6jg
      responses:
        '204':
          description: No content
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
  '/public/v1/documents/{id}/recipients':
    post:
      summary: Add Document Recipient
      description: Adds recipient as CC to document
      operationId: addDocumentRecipient
      tags:
        - Document Recipients
      parameters:
        - name: id
          in: path
          description: Document UUID
          schema:
            type: string
          required: true
          example: BhVzRcxH9Z2LgfPPGXFUBa
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentRecipientCreateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentRecipientResponse'
        '400':
          $ref: '#/components/responses/400RequestError'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
  '/public/v1/documents/{id}/recipients/recipient/{recipient_id}':
    patch:
      summary: Edit Document Recipient
      description: Edit document recipient's details
      operationId: editDocumentRecipient
      tags:
        - Document Recipients
      parameters:
        - name: id
          in: path
          description: Document UUID
          schema:
            type: string
          required: true
          example: BhVzRcxH9Z2LgfPPGXFUBa
        - name: recipient_id
          in: path
          description: Recipient UUID
          schema:
            type: string
          required: true
          example: tf5dGS3Tmu3cj228ao6fnc
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentRecipientEditRequest'
      responses:
        '204':
          description: No content
        '400':
          $ref: '#/components/responses/400RequestError'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
  '/public/v1/documents/{id}/recipients/{recipient_id}':
    delete:
      summary: Delete Document Recipient
      description: Deleted recipient from document
      operationId: deleteDocumentRecipient
      tags:
        - Document Recipients
      parameters:
        - name: id
          in: path
          description: Document UUID
          schema:
            type: string
          required: true
          example: BhVzRcxH9Z2LgfPPGXFUBa
        - name: recipient_id
          in: path
          description: Recipient UUID
          schema:
            type: string
          required: true
          example: tf5dGS3Tmu3cj228ao6fnc
      responses:
        '204':
          description: No content
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
  '/public/v1/documents/{id}/recipients/{recipient_id}/reassign':
    post:
      summary: Reassign Document Recipient
      description: Replace document recipient with another contact
      operationId: reassignDocumentRecipient
      tags:
        - Document Recipients
      parameters:
        - name: id
          in: path
          description: Document UUID
          schema:
            type: string
          required: true
          example: BhVzRcxH9Z2LgfPPGXFUBa
        - name: recipient_id
          in: path
          description: Recipient UUID
[...]
